{% extends 'base.html' %}
{% block title %} AIDS / HIV {% endblock %}

{% block content %}

<div class="essay-content">
    <div class="essay-title"> <center><h1 title="Essay about aids/hiv">AIDS/HIV - A LIFE THREATNING DISEASE</h1></center> </div>
    <img class="main_img" title="AIDS/HIV" src="{{url_for('static', filename = 'image/aids_hiv.jpg')}}" alt="aids/hiv" width="500" height="300"> <br>
    <div class="index">
        <fieldset>
            <legend>INDEX ::</legend>
            <div class="index-content">
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t1">Introduction</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t2">AIDS - Causes</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t3">AIDS - Causes</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t4">AIDS - Symptoms</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t5">AIDS - Treatment</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t6">AIDS - Prevention</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t7">Conclusion</a><br>
            </div>
        </fieldset>
    </div> <br>
    <div class="essay-body">
        <h2 id="t1">introduction:</h2><br>
        <p>&emsp;&emsp;<a class="inessay-link" href="https://www.cdc.gov/hiv/basics/whatishiv.html" title="https://www.cdc.gov/hiv/basics/whatishiv.html" target="_blank">Acquired Immuno Defciency Syndrome</a> (AIDS) is a life threatening disease. It is one of the most dreaded diseases of the 20<sup>th</sup> centuary. It has so far ended more than twenty-nine million lives all over the world. Since its discovery, AIDS has spread around the world like a wildfire.</p> <br>
        <h2 id="t2">aids - causes:</h2><br>
        <p>&emsp;&emsp;The casuse of the AIDS is primarily by
            <img class="main_img" title="Hiv-blood cells" src="{{url_for('static', filename = 'image/hivblood.jpg')}}" alt="aids-blood" width="300" height="220">
            Human Immuno Deficiency Virus (HIV). This virus replicates itself into the humon body by inserting a copy of its DNA into the human host cells. Due to such property and capability of the virus, it is also known as a retrovirus. The host cells inwhich the HIV resides are the WBC's that are the part of the human immune system.</p> <br>
        <h2 id="t3">aids - spread:</h2><br>
        <p>&emsp;&emsp;It majorly transmits in one of the three ways - Blood, Pre - natal and sexual transfusion of HIV
            <img class="main_img" title="Hiv-spread" src="{{url_for('static', filename = 'image/aidscause.png')}}" alt="aids-causes" width="400" height="220">
            through blood has been very common during the intial time of its spread. But nowadays all the developed and developing countries have strongest measures to check the blood for infectionn before infusing. Usage of shared needles also cause. </p> <br>
        <p>&emsp;&emsp;As part of sexual transmission, HIV transfers through body fluids while performing sexual activity. HIV can easily be spread from an infected person to a healthy person if they perform unprotective sexual intercourse through oral, genital or rectal parts. </p> <br>
        <p>&emsp;&emsp;Pre-nodal transmission implies that an HIV infected mother can easily transmit the virus to her child during pregnancy, breastfeeding or even during delivery of the baby. </p> <br>
        <h2 id="t4">aids - symptoms:</h2><br>
        <p>&emsp;&emsp;Since HIV attacks and infects the WBC's of the human body,
            <img class="main_img" title="Hiv-symptoms" src="{{url_for('static', filename = 'image/hivsymp.jpg')}}" alt="aids-symptoms" width="400" height="220">
            it lowers the overall immune system of the human body and resulting in the infected individual, vulnerable to any other disease or minor infection. THe incubation periof for AIDS is much longer as compared to other diseases. It takes around 0 - 12 years for the symptoms to appear promptly. </p> <br>
        <p>&emsp;&emsp;Few of the commonn symptoms of AIDS include fever, fatigue, loss of weight, dysentery, swollen nodes, yeast infection and herpes. Due to weakened immunity, the infectious person falls prey to some of the uncommon infections namely peristen fever, night sweating, skin rashes, lesions in moutha and so on. </p> <br>
        <h2 id="t5">aids - treatment:</h2><br>
        <p>&emsp;&emsp;Till date, no treatment or cure is available for furing AIDS and as a result it is life threatening disease.
            <img class="main_img" title="Hiv drugs" src="{{url_for('static', filename = 'image/hivdrugs.jpg')}}" alt="aids-drug" width="250" height="150">
            As a practice by medical practitioners, the best way to cure its spread is by <a href="https://www.cdc.gov/hiv/basics/livingwithhiv/treatment.html" class="inessay-link" title="https://www.cdc.gov/hiv/basics/livingwithhiv/treatment.html" target="_blank">Anti-retroviral Therapy</a> (ART). It is a drug therapy which prevents HIV from replicating and hence slows down its progress. It is just a measure and doesn't guarentee the cure of AIDS. </p><br>
        <h2 id="t6">aids - prevention:</h2><br>
        <p>&emsp;&emsp;AIDS prevention lies in the process of preventing it's spread. One should routinely get tested for HIV. It is important for an indiviual to know his/her own partners HIV status, before performing any sexual intercourse activity. One should practice safe sex. Use condoms during sexual intercourse is a must and also one should restrict oneself on the number of partners he/she is having sex with. One should not addict him/herself to banned substances and drugs. One should not use used razors or non-sterlized needles. </p> <br>
        <h2 id="t7">conclusion:</h2><br>
        <p>&emsp;&emsp;Life for an individual becomed hell after being prositive for AIDS.
            <a href="http://naco.gov.in/" class="inessay-link" target="_blank" title="http://naco.gov.in/"><img class="main_img" src="{{url_for('static', filename = 'image/aidsaware.jpg')}}" alt="aids-awareness" width="300" height="150"></a>
            It is not only the disease but also the social stigma and discrimination, feeling of being not loved and being hated acts as a slow poison. We need to install the belief among them, through our love and care, that the HIV positive patients can still lead a long and healthy life.</p> <br>
        <p>&emsp;&emsp;With the wild spread of the disease, much fewer adults and children are dying due to AIDS. The only way to fight the AIDs disease is through creating awareness. </p> <br>
        <center><q class = "essay-quotes"><q class = "essay-quotes">It's not the years in your life count. It's the life in your years.</q> - Abraham Lincoln</q></center>
    </div>
</div>

{% endblock content %}
