{% extends 'base.html' %}
{% block title %} Alcoholism {% endblock %}

{% block content %}

<div class="essay-content">
    <div class="essay-title"> <center><h1 title="Essay about Alcoholism">alcoholism</h1></center> </div> <br>
    <img class="main_img" title="Drunkard" src="{{url_for('static', filename = 'image/alcoholism.jpg')}}" alt="alcoholism" width="400" height="300"> <br>
    <div class="index">
        <fieldset>
            <legend>INDEX ::</legend>
            <div class="index-content">
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t1">Introduction</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t2">Function of alcohol</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t3">The country and the house that stained by alcohol</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t4">Alcohol in Literature</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t5">Alcoholism</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t6">Resurrection</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t7">Conclusion</a><br>
            </div>
        </fieldset>
    </div> <br>
    <div class="essay-body">
        <h2 id="t1">Introduction:</h2><br>
        <p>&emsp;&emsp;The difficulty of having a man with intoxicating alcohol is not insignificant. So the damage to the home and the country is immeasurable. Alcohol is the curse of human society. We will see about <a href="https://www.healthline.com/health/alcoholism/basics" class="inessay-link" title="https://www.healthline.com/health/alcoholism/basics" target="_blank">Alcoholism</a> in this article. </p> <br>
        <img class="main_img" title="Affects of alcohol" src="{{url_for('static', filename = 'image/funcofal.jpg')}}" alt="fuctions of alcohol" width="450" height="250">
        <h2 id="t2">Function of alcohol:</h2><br>
        <p>&emsp;&emsp;Alcohol is an addictive substance. Within minutes of a person drinking alcohol it stimulates the nervous system and affects its effectiveness. Its damage to the brain continues. Thus man's self-consciousness is corrupted and his conscience is corrupted as he faints. Organs such as the liver, pancreas, and kidneys are also affected. </p> <br>
        <h2 id="t3">The country and the house that stained by alcohol:</h2><br>
        <img class="main_img" title="prisoner of alcohol" src="{{url_for('static', filename = 'image/al.jpg')}}" alt="alcohol addicted">
        <p>&emsp;&emsp;They would have printed the saying that alcohol is harmful to life, home and country. What about people who get drunk and degenerate after reading it? Thus the wife and children starve Watts, the head of the family staggers into intoxication, and eventually the nation's economy collapses upside down. </p> <br>
        <h2 id="t4">Alcohol in Literature:</h2><br>
        <p>&emsp;&emsp;In the literature we can see the reference to the drunkards celebrating the victory of the war in ancient times. Alcohol is said to be one of the famine subjects. We can see the notes of The Aryans drinking alcohol under the name of Soma drink. Realizing the cruelty of alcohol, Ayyan Thiruvalluvar has given a separate authority to <a href="https://www.ytamizh.com/thirukural/chapter-93/" title="Non-alcoholism by Thiruvalluvar" class="inessay-link" target="_blank">non-alcoholism</a>. </p><br>
        <h2 id="t5">Alcoholism:</h2><br>
        <p>&emsp;&emsp;Those who start out today as the only way to drink for friendship for a day, later develop into Drunkards. Young people, especially adolescents, are often addicted. In the beginning, people drink rum, whiskey, brandy, alcohol, wine and vodka and ruin their money, family and body. It is shocking that young women in our country are now stepping on the path of addiction like the upper class. </p> <br>
        <h2 id="t6">Resurrection:</h2><br>
        <a href="https://indianhelpline.com/De-Addiction-Helpline/" title="https://indianhelpline.com/De-Addiction-Helpline/" class="inessay-link" target="_blank">        <img class="main_img" title="Road to recover" src="{{url_for('static', filename = 'image/resurrection.jpg')}}" alt="resurrection" width="400" height="240"></a>
        <p>&emsp;&emsp;Alcohol addicts want to recover from it. Even if they feel that they have become addicted to unwanted habits, they will not be able to give up the habit. Currently alcohol addiction rehabilitation centers have been started by charities in many places to recover from alcoholism. There is an in-service of forgetting drug addiction by injection. Awareness campaign for alcohol addicts. </p> <br>
        <h2 id="t7">Conclusion:</h2><br>
        <p>&emsp;&emsp;From Ayyan Thiruvalluvar to Annal Gandhiji, many adults have opposed alcohol. However, drinkers across the country who are chanting that they will get rid of alcohol should automatically change, and then the wealth of the house and the country will be great. </p> <br>
        <center><q class = "essay-quotes">'I have taken more out of alcohol than alcohol has taken out of me.' — Winston Churchill</q></center>
    </div>
</div>

{% endblock content %}
