{% extends 'base.html' %}
{% block title %} B.R. Ambedkar {% endblock %}

{% block content %}

<div class="essay-content">
    <div class="essay-title"> <center><h1 title="Essay about B.R. Ambedkar">b.r. ambedkar</h1></center> </div>
    <img class="main_img" title="Ambedkar" src="{{url_for('static', filename = 'image/ambedkar.jpg')}}" alt="aids-causes" width="250" height="300"><br>
    <div class="index">
        <fieldset>
            <legend>INDEX ::</legend>
            <div class="index-content">
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t1">Introduction</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t2">Birth and Youth</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t3">Untouchability Expereience</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t4">Assistance in study</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t5">Journalism</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t6">Political Work</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t7">Constituent Assembly</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t8">Characteristics</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t9">Conclusion</a><br>
            </div>
        </fieldset>
    </div> 
    <div class="essay-body">
        <h2 id="t1">Introduction:</h2><br>
        <p>&emsp;&emsp;<a href="https://en.wikipedia.org/wiki/B._R._Ambedkar" title="https://en.wikipedia.org/wiki/B._R._Ambedkar" class="inessay-link" target="_blank">B.R. Ambedkar</a> was the one who broke the caste discrimination by running and working for the liberation of the laity and the rights of the oppressed people while Bharat was fighting for liberation. Today we will see the career path of Ambedkar who became the star of hope of the grassroots in the Indian political sky </p> <br>
        <h2 id="t2">Birth and Youth:</h2><br>
        <img src="{{url_for('static', filename = 'image/ambedkarfamily.jpg')}}" alt="Ambedkar family" class="main_img" title="Ambedkar with his family members at Rajgraha in February 1934. From left – Yashwant (son), Ambedkar, Ramabai (wife), Laxmibai (wife of his elder brother, Balaram), Mukund (nephew) and Ambedkar's favourite dog, Tobby" height="200"> <br>
        <p>&emsp;&emsp;Our Ambedkar was born on April 14, 1891, in the village of Ambewade in the Ratnagiri district of the Maratha state, the 14th child of Ramji Chakpal and Bhimabai. He lost his mother at the age of 6 and grew up in the care of his father. He completed his primary education in ordinary government school in 1904. He completed his matriculation at Elphinstone High School there due to his father's change of job. He then attended Elphinstone College and graduated with a bachelor's degree.</p> <br>
        <h2 id="t3">Untouchability Expereience:</h2><br>
        <img src="{{url_for('static', filename = 'image/ambedkaruntouch.jpg')}}" alt="Ambedkar's Untouchability act" class="main_img" title="B. R. Ambedkar with the leaders and activists of the All India Untouchable Women Conference held at Nagpur in 1942" height="300"> <br>
        <p>&emsp;&emsp;Ambedkar felt the taste of the caste heart in his younger days. He was thrown from the cart he was traveling in because he was depressed as a child. When asked for drinking water they made him drink the water that had accumulated in the street. The barber, who was once known to be degraded during a haircut, later cut his hair with his sister because of the blasphemy. His marriage took place at night as the downtrodden were forbidden to marry during the day. Ambedkar married Ramabai, who turned nine at the age of 14. Thus the experiences of Ambedkar in his youth became a driving force in the fight against <a href="https://en.wikipedia.org/wiki/Untouchability" title="https://en.wikipedia.org/wiki/Untouchability" class="inessay-link" target="_blank">Untouchability</a>. </p> <br>
        <h2 id="t4">Assistance in study:</h2><br>
        <img src="{{url_for('static', filename = 'image/barristerambedkar.jpg')}}" alt="Ambedkar as a barriester" class="main_img" title="Ambedkar as a barriester" height="300"> <br>
        <p>&emsp;&emsp;Ambedkar met the king of Baroda to help him pursue higher studies due to his family situation. With his help he completed his bachelor's degree in 1913. In the same year he served as a senior military officer in the Government of Baroda. Over there
            When the nobleman refused to work under him, the king sent Ambedkar to the Columbia University Research Institute in the United States for research. He received his doctorate in that study and rejoined the Baroda government service in 1917. Untouchability disgusted him there so he went to England in 1923 and got the highest DSC degree in study. He learned a number of books from the library there and graduated as a <a href="https://en.wikipedia.org/wiki/Barrister" title="https://en.wikipedia.org/wiki/Barrister" class="inessay-link" target="_blank">Barrister</a>.</p><br>
        <h2 id="t5">Journalism:</h2><br>
        <p>&emsp;&emsp;Longing for the dawn of the downtrodden, Ambedkar published a bi-monthly magazine called "The Leader of the Dumb". He wrote in his journal that no man can be freed from slavery until he becomes a revolutionary, and that if you cannot prepare yourself for a new life, you are doomed. <q class = "essay-quotes">Teach, unite, revolutionize</q> is his quality mantra. </p> <br>
        <h2 id="t6">Political Work:</h2><br>
        <img src="{{url_for('static', filename = 'image/ambedkarpolitical.jpg')}}" alt="Ambedkar political speech" class="main_img" title="Ambedkar delivering a speech during a mass conversion ceremony." height="300"> <br>
        <p>&emsp;&emsp;Elected to the Bombay Provincial Council in 1928, Ambedkar fought for the right to drink water from a public pool in 1937. The <a href="https://en.wikipedia.org/wiki/Round_Table_Conferences_(India)" title="https://en.wikipedia.org/wiki/Round_Table_Conferences_(India)" class="inessay-link" target="_blank">First Round Table Conference</a> was held in London. In it he went as the sole representative of 53 names and pointed out the plight of the downtrodden in India. As a result, in 1932, the downtrodden were granted exclusive rights. The first meeting between Gandhiji and Ambedkar took place at the Yerawada Jail. There was agreement in the talks regarding the reservation. It is called the <a href="https://en.wikipedia.org/wiki/Poona_Pact" title="https://en.wikipedia.org/wiki/Poona_Pact" class="inessay-link" target="_blank">Poona Pact</a> and for 19 years from 1920 to 1935 he advocated for the political and social rights of the marginalized. </p> <br>
        <h2 id="t7">Constituent Assembly:</h2><br>
        <img src="{{url_for('static', filename = 'image/draftconstitution.jpg')}}" alt="Drafting India's Constitution" class="main_img" title="Ambedkar, chairman of the Drafting Committee, presenting the final draft of the Indian Constitution to Rajendra Prasad on 25 November 1949." height="300"> <br>
        <p>&emsp;&emsp;He contested and won the Political Executive Committee election in 1946. The model constitution was unveiled at the first meeting. Knowing his talent, Dr. Rajendra Prasad, Nehru and others selected him for the Constitutional Drafting Committee. He was then elected as its chairman. In the same month he became the Law Minister of India. The constitution drafted by Ambedkar had 315 rules and 8 tables. Thus Ambedkar, who played a major role in shaping the Indian Constitution, is hailed as the architect of the <a href="https://en.wikipedia.org/wiki/Constitution_of_India" title="https://en.wikipedia.org/wiki/Constitution_of_India" class="inessay-link" target="_blank">Indian Constitution</a>. </p> <br>
        <h2 id="t8">Characteristics:</h2><br>
        <p>&emsp;&emsp;B.R. Ambedkar has a love for the oppressed; with Firm in policy ; with endless effort; Struggle was his life; It was his tireless work that made him a brother for all. </p> <br>
        <h2 id="t9">Conclusion:</h2><br>
        <p>&emsp;&emsp;Dr. Ambedkar fought for equal rights. Unless fighting for caste. This is evidenced by the fact that he changed his real name to his teacher's name. The ideas of equality, equal rights and equal opportunity permeate his constitution. This instinct will never forget his mission </p> <br>
        <center><q class = "essay-quotes">Be Educated, Be Organised and Be Agitated - B.R. Ambedkar</q></center>
    </div>
</div>

{% endblock content %}
