{% extends 'base.html' %}
{% block title %} C.N. Annadurai {% endblock %}

{% block content %}

<div class="essay-content">
    <div class="essay-title"> <center><h1 title="Essay about C.N.Annadurai">C.N. Annadurai</h1></center> </div>
    <img class="main_img" title="C. N. Annadurai commemorative stamp" src="{{url_for('static', filename = 'image/annadurai.jpg')}}" alt="Annadurai" width="250" height="300"><br>
    <div class="index">
        <fieldset>
            <legend>INDEX ::</legend>
            <div class="index-content">
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t1">Introduction</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t2">Birth and Youth</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t3">Political Involvement</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t4">Anna's Patriotism</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t5">Rise of DMK</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t6">Chief Minister Anna</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t7">Artwork</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t8">Conclusion</a><br>
            </div>
        </fieldset>
    </div> <br>
    <div class="essay-body">
        <h2 id="t1">Introduction:</h2><br>
        <p>&emsp;&emsp;"It is not enough to have products and wealth if a country is to be a nation. We need the best scholars", said Thiruvalluvar. Many scholars in our country, which is a good country within the bar in this sense, have appeared and disappeared over time. Among them, our beloved leader is the great scholar <a href="https://en.wikipedia.org/wiki/C._N._Annadurai" title="https://en.wikipedia.org/wiki/C._N._Annadurai" class="inessay-link" target="_blank">C.N. Annadurai</a> who loved the country and the language with his two eyes. </p> <br>
        <h2 id="t2">Birth and Youth:</h2><br>
        <img class="main_img" title="Annadurai in younger times" src="{{url_for('static', filename = 'image/anna.png')}}" alt="Annadurai" width="200" height="200"><br>
        <p>&emsp;&emsp;Annathurai, popularly known as 'Perarinjar' by the people of Tamil Nadu, was born on September 15, 1909 AD in the glorious Kanchipuram to Nadarasan and Bangaru Ammal. He completed his higher education in Kanchipuram. He then joined Pachaiyappan College in Chennai and obtained his Bachelor's and Master's degrees. Scholar Anna, who is observant in the class, does not care about it after going home. Anna was always simple, not wanting a life of luxury. He developed the ability to speak Tamil and English fluently. The <a href="https://en.wikipedia.org/wiki/Connemara_Public_Library" title="https://en.wikipedia.org/wiki/Connemara_Public_Library" class="inessay-link" target="_blank">Connemara Public Library</a> played an important role in feeding Anna's knowledge. </p> <br>
        <h2 id="t3">Political Involvement:</h2><br>
        <img class="main_img" title="Annadurai and Periyar E.V. Ramaswamy" src="{{url_for('static', filename = 'image/annaperiyar.jpg')}}" alt="Annadurai and Periyar" width="350" height="200"><br>
        <p>&emsp;&emsp;While the Congress movement was fighting for liberation, the Northern language was the language of religion in Tamil Nadu and English the language of government. The Congress, which had the primary policy of expelling whites, could not take care of the Tamil language and Tamil-speaking Tamils. Tamils ​​were seen as forgetting their pride. Periyar started the self-respect movement in 1926 with the lofty aim of eradicating casteism and superstition among Tamils ​​in order to restore the self-respect of the proud Tamils. Anna began to participate in a section of its self-esteem youth forum. He was later elected General Secretary of the Justice Party in 1939 under the leadership of Periyar. In 1940 the compulsory Hindi dump was abolished due to the tireless work of Periyar and Anna. Anna presided over the Justice Party Conference in Salem in 1942 and changed the name of the Justice Party to Dravidar Kazhagam. </p> <br>
        <h2 id="t4">Anna's Patriotism:</h2><br>
        <p>&emsp;&emsp;Anna was shocked when Periyar declared the day of India's liberation on August 15, 1947 as a day of mourning. It is not the norm to support white's rule because of inequality between brothers. Anna issued a reply statement saying that we should appreciate the sacrifices made by the Congress for the liberation of the country. Through this the patriotism in his heart was revealed. </p><br>
        <h2 id="t5">Rise of DMK:</h2><br>
        <img class="main_img" title="Dravida Nadu magazine owned and edited by Annadurai" src="{{url_for('static', filename = 'image/dravidanadu.jpg')}}" alt="Dravida Nadu" width="250" height="300"><br>
        <p>&emsp;&emsp;Shocked by the news of Periyar's remarriage in 1949, Anna finally left Periyar and formed a new party, the <a href="https://en.wikipedia.org/wiki/Dravida_Munnetra_Kazhagam" title="https://en.wikipedia.org/wiki/Dravida_Munnetra_Kazhagam" target="_blank" class="inessay-link">Dravida Munnetra Kazhagam</a> (DMK), on September 17, 1949. Due to his patronage, Periyar left the post vacant and became its general secretary. It shows the greatness of the scholar Anna and the love he had for Periyar. </p> <br>
        <h2 id="t6">Chief Minister Anna:</h2><br>
        <p>&emsp;&emsp;In Anna's 30 years of tireless work, the DMK won the 1967 assembly elections. On March 6, 1967, Anna became the Chief Minister of Tamil Nadu. After taking charge he met Rajaji and Kamaraj who were in opposition. They met their leader Periyar, who was sidelined by the disagreement, and received the blessing. It shows the goodwill politics of Anna. </p> <br>
        <h2 id="t7">Artwork:</h2><br>
        <img class="main_img" title="Annadurai, known for his excellent oratorical skills, was fond of books." src="{{url_for('static', filename = 'image/annascholoar.jpg')}}" alt="Annadurai scholar" width="300" height="200"><br>
        <p>&emsp;&emsp;Anna is not only in speech; He was also good at writing. He was a revolutionary playwright, film narrator, actor, great painter and writer. </p> <br>
        <h2 id="t8">Conclusion:</h2><br>
        <p>&emsp;&emsp;Anna, who was elected as the Chief Minister and was actively on duty, suddenly fell ill. He went to the United States for treatment and returned home because he did not feel well. The disease worsened and on Monday, February 20, 1909, the lamp of Anna was extinguished. That loving heart that endures anything sleeps peacefully on the Bengal coast. He fought for Tamil and the Tamil people till his last breath. Anna's way is the exchange we make for him. </p> <br>
        <center><q class = "essay-quotes">Since every school in India teaches English, why can't it be our link language? Why do Tamils have to study English for communication with the world and Hindi for communications within India? Do we need a big door for the big dog and a small door for the small dog? I say, let the small dog use the big door too!</q></center>
    </div>
</div>

{% endblock content %}
