{% extends 'base.html' %}
{% block title %} A.P.J. Abdul Kalam {% endblock %}

{% block content %}

<div class="essay-content">
    <div class="essay-title"> <center><h1 title="Essay about A.P.J. Abdul Kalam">Avul Pakir Jainulapteen Abdul Kalam <br>'Missile Man of India'</h1></center> </div> <br>
    <img class="main_img" title="Abdul Kalam in 2002" src="{{url_for('static', filename = 'image/apj.jpg')}}" alt="Abdul Kalam" width="250" height="300"> <br>
    <div class="index">
        <fieldset>
            <legend>INDEX ::</legend>
            <div class="index-content">
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t1">Introduction</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t2">Birth and Youth</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t3">Research Work</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t4">Kalam's Thoughts</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t5">Future India</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t6">Awards Received</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t7">Characteristics</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t8">Conclusion</a><br>
            </div>
        </fieldset>
    </div> <br>
    <div class="essay-body">
        <h2 id="t1">Introduction:</h2><br>
        <p>&emsp;&emsp;We will see in the article about His Excellency Abdul Kalam, who is one of the many children born to work for mother Bharath and the one who knows the needs of the mother India. </p> <br>
        <h2 id="t2">Birth and Youth:</h2><br>
        <img class="main_img" title="Young Abdul Kalam" src="{{url_for('static', filename = 'image/apjyoung.jpeg')}}" alt="Abdul Kalam at young age" width="200" height="300"> <br>
        <p>&emsp;&emsp;<a href="https://en.wikipedia.org/wiki/A._P._J._Abdul_Kalam" title="https://en.wikipedia.org/wiki/A._P._J._Abdul_Kalam" target="_blank" class="inessay-link">Dr.A.P.J. Abdul Kalam</a> was born on October 15, 1931 in Rameswaram, on the east coast of Tamil Nadu, the son of Jainulapteen and Ashiamma. Kalam graduated from Rameswaram Schwartz High School and went to Trichy to complete his college studies. He then obtained an engineering degree in aviation from the Chennai Institute of Technology. </p> <br>
        <h2 id="t3">Research Work:</h2><br>
        <p>&emsp;&emsp;Abdul Kalam worked in the Department of Military Research and Development and in the <a href="https://en.wikipedia.org/wiki/Indian_Space_Research_Organisation" title="https://en.wikipedia.org/wiki/Indian_Space_Research_Organisation" target="_blank" class="inessay-link">Indian Space Research Organization</a>. He was also the mastermind behind missile production and satellite launches. Abdul Kalam was the project director of SLV-3, India's first rocket. That is how the Rohini satellite was launched. While serving in the military, he laid the foundation for India to develop its own missiles. From 1992 to 1999 he served as Minister of Defense and Scientific Adviser to the Department of Military Research. From 1999 to 2001 he served as the Chief Scientific Adviser to India. He later became a professor at Anna University, Chennai. </p> <br>
        <h2 id="t4">Kalam's Thoughts:</h2><br>
        <img class="main_img"src="{{url_for('static', filename = 'image/apjwork.jpg')}}" alt="Abdul Kalam in his work" width="350" height="200"> <br>
        <p>&emsp;&emsp;By 2020, India must have developed into an advanced nation; India must go to Mars; Need to find a cure for HIV; To find laser devices that can deactivate nuclear weapons; Kalam has the opinion that India's nuclear tests are for its own protection. </p>
        <center><q class = "essay-quotes">Don’t take rest after your first victory because if you fail in second, more lips are waiting to say that your first victory was just luck.</q></center> <br>
        <h2 id="t5">Future India:</h2><br>
        <img class="main_img" title="Kalam addresses engineering students at IIT Guwahati" src="{{url_for('static', filename = 'image/apjconf.jpg')}}" alt="Kalam addresses engineering students" width="300" height="200"> <br>
        <p>&emsp;&emsp;Kalam has a habit of meeting and conversing with school children wherever he goes, as the sculptors who will create the future India are students. Provides students with the advice they need to build a prosperous India and gives clear answers to the questions they ask. </p>
        <center><q class = "essay-quotes">Dream, dream, dream. Dreams transform into thoughts and thoughts result in action.</q></center> <br>
        <h2 id="t6">Awards Received:</h2><br>
        <img class="main_img" title="Scientist APJ Abdul Kalam receiving Padma Bhushan Award from President Neelam Sanjiva Reddy in New Delhi" src="{{url_for('static', filename = 'image/apjaward.jpg')}}" alt="Abdul Kalam receiving an award" width="300" height="250"> <br>
        <p>&emsp;&emsp;Universities and educational institutions around the world have awarded 30 honorary doctorates in recognition of Abdul Kalam's service in the field of science. Our Government of India awarded him the Padma Bhushan in 1981 and the Padma Vibhushan in 1990. In 1997, he was awarded India's highest award, the Bharat Ratna. Abdul Kalam was then elected the 12th <a href="https://en.wikipedia.org/wiki/A._P._J._Abdul_Kalam#Presidency" title="https://en.wikipedia.org/wiki/A._P._J._Abdul_Kalam#Presidency" target="-blank" class="inessay-link">President of India</a> and did good deeds as the first citizen of the country. </p>
        <center><q class = "essay-quotes">To succedd in your mission, you must have single-minded devotion to your goal.</q></center> <br>
        <h2 id="t7">Characteristics:</h2><br>
        <img class="main_img" title="Dr. A.P.J. Abdul Kalam" src="{{url_for('static', filename = 'image/apjchar.jpg')}}" alt="Abdul Kalam" width="400" height="250"> <br>
        <p>&emsp;&emsp;Our Abdul Kalam has no arrogance despite receiving many degrees; Excellent in action; Who loves children; Child-minded. He researched for the country and did not set up family life but considered the country as his family. Next to Mahatma Gandhi as the best man who lives frozen in Indian hearts. Patriotic and divine. </p> <br>
        <h2 id="t8">Conclusion:</h2><br>
        <p>&emsp;&emsp;Abdul Kalam, who had such pride and patience, while delivering a lecture at the Indian Institute of Management Shilong, Kalam Collapsed and died from an apparent cardiac arrest of 27 July 2015, aged 83. Thousand including national-level dignitaries attended the funeral ceremony held in his hometown of Rameshwaram, where he was buried with full state honours. Kalam's quality mantra is to dream, plan and achieve. Kalam's life is an example of how a shopkeeper can become a leader if he works hard. </p>
        <center><q class = "essay-quotes">Failure will never overtae me if my determination to succeed is strong enough.</q></center> <br>
    </div>
</div>

{% endblock content %}
