{% extends 'base.html' %}
{% block title %} Rehabilitation of the disabled {% endblock %}

{% block content %}

<div class="essay-content">
    <div class="essay-title"> <center><h1 title="Essay about Rehabilitation of disabled">Rehabilitation of the disabled</h1></center> </div> <br>
    <img class="main_img" title="Rehabilitation of the disabled" src="{{url_for('static', filename = 'image/disabled.jpg')}}" alt="disabled" width="350" height="300"> <br>
    <div class="index">
        <fieldset>
            <legend>INDEX ::</legend>
            <div class="index-content">
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t1">Introduction</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t2">Type and Cause of Disability</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t3">Disability Nostalgia</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t4">Government Initiative</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t5">Disability Achievement</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t6">Conclusion</a><br>
            </div>
        </fieldset>
    </div> <br>
    <div class="essay-body">
        <h2 id="t1">Introduction:</h2><br>
        <p>&emsp;&emsp;"It is rare to born as a humanbeing. However, it is rare to be born deaf, blind, or deaf," said Avvaiyar. The healthy functioning of the senses is essential to live a massive life in the state. But today 9 percent of the world's population is disabled. The disabled are just one of us. They have a heart like ours; Have the right to live. This society is the crutch to live happily as such people have changed. Let's look at two of them. </p> <br>
        <h2 id="t2">Type and Cause of Disability:</h2><br>
        <p>&emsp;&emsp;Disabilities include blindness, deafness, inability to speak, mental retardation, and organ failure. In ancient times people with disabilities were considered to have been punished by God. But some defects are congenital and are formed by some other accident. Sometimes disabilites are more likely to be disabled during pregnancy due to misuse of medications and inadequate nutrition. Since it is a conspiracy game of nature we should not blame it on any disabled person. </p> <br>
        <h2 id="t3">Disability Nostalgia:</h2><br>
        <p>&emsp;&emsp;People with disabilities are not capable of anything other than the disability they have acquired. They, like us, run to consume worldly pleasures and create achievement just like us. But some families set them aside as children and are denied the education, medical care, value and respect they deserve. People with disabilities are more likely to be able to make up for a loss of ability. That is why at present they are not called 'disabled' but 'challenged people'. Braille, who invented the Braille writing system for the blind, can easily understand the ability of the disabled if they realize that they are also blind. Therefore, it is the duty of the motivated person to know the inner workings of the disabled and to make their nostalgia rise. </p> <br>
        <h2 id="t4">Government Initiative:</h2><br>
        <p>&emsp;&emsp;Article 41 of the Constitution of India deals with the welfare of persons with disabilities. Our government is currently establishing a large number of schools for the blind and schools for the deaf. The government subsidizes such special schools run by charities. It promotes a certain percentage of places in government institutions, education, and employment for the disabled. Television news is broadcast by gesture for the deaf. Three-wheeler, books in Braille, hearing aids, prosthetic arms and legs are provided free of cost by the government. Small business loans are also offered at low interest rates. The efforts of the government and the United Nations are greatly aided. However, the private sector, entrepreneurs and charities will have to make additional contributions as the government cannot meet everything. The private sector should help provide reservations. </p><br>
        <h2 id="t5">Disability Achievement:</h2><br>
        <p>&emsp;&emsp;The news that Helen Keller, a woman who was born blind and deaf, has won the Nobel Prize not only for the disabled but also for all, is the news that she has become a great writer by learning the lessons of a teacher with a sense of touch on her back. The only thing we know is that a blind and lame double-witted man came to guide and did Tamil work all over Tamil Nadu. An eyeless poet, he was able to express external scenes through poetry. The mango lion novelist is also a disabled person. World-famous poet Milton became famous for reading the book 'Lost Heaven' in his blindness. Special Olympics for the disabled are currently being held. Many of them from all over the country are participating and showcasing their talents. </p> <br>
        <h2 id="t6">Conclusion:</h2>
        <p>&emsp;&emsp;December 3 is celebrated as 'World Disability Day' to draw the attention of the world to the disabled. Not only do we give our loving support to the disabled but we also have to donate our body organs so that we can gain their blessing even after our death. </p>
        <center><q></q></center>
    </div>
</div>

{% endblock content %}
