{% extends 'base.html' %}
{% block title %} Discipline brings revival {% endblock %}

{% block content %}

<div class="essay-content">
    <div class="essay-title"> <center><h1 title="Essay about discipline">Discipline brings revival</h1></center> </div><br>
    <img class="main_img" title="Discipline" src="{{url_for('static', filename = 'image/discipline.jpg')}}" alt="Discipline" width="400" height="250"> <br>
    <div class="index">
        <fieldset>
            <legend>INDEX ::</legend>
            <div class="index-content">
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t1">Introduction</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t2">Explanation for discipline</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t3">The rise of morality</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t4">Superior by morality</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t5">Conclusion</a><br>
            </div>
        </fieldset>
    </div> <br>
    <div class="essay-body">
        <h2 id="t1">Introduction:</h2><br>
        <p>&emsp;&emsp;Ayyan Thiruvalluvar's eloquent vow is that 'morality will be revived and morality will be nurtured in life'. Morality is the quality on which a man should attain sixteen blessings and live a life of luxury. Morality is the basis of life as well as how important the foundation of the home is. We will see about that in this article. </p> <br>
        <h2 id="t2">Explanation for discipline:</h2><br>
        <p>&emsp;&emsp;The path that many people walk on foot later becomes the path. Even so, the path our forefathers walked became an moral path. Our forefathers kept track of the good ways in which man should walk. Thus it is moral to persevere in actions that are acceptable to all and beneficial to all. Discipline arises from order. It is moral to live in the way shown by the higher ones, making sure to live like this, overcoming the condition of being able to live anyway. </p> <br>
        <h2 id="t3">The rise in morality:</h2><br>
        <p>&emsp;&emsp;Life is better when discipline is good; Life will slip if discipline is reduced. Our forefathers said that the best in education is morality. Valluvar says that discipline should be known and protected. His advice was that discipline should help as a crutch for life. </p> <br>
        <h2 id="t4">Superior by morality:</h2><br>
        <p>&emsp;&emsp;Mahatma Gandhi was one of the foremost moralists in human and public life. Kannaki, Ramakrishna, Swami Vivekananda and Vinoba were high-ranking Hittites with their impeccable lives. It is absurd to condense morality into the narrow circle of chastity. Madhavi, who appeared in the whore tradition, lived in a state of chastity after Kovalan's death and is also praised for his love of Tamil culture. Are Manu Nithi Cholan and Pandian Nedunchezhiyan, who are immoral in politics, the ones we can forget? The action of Arichandran, who lived for the truth, is also seen as moral. Is Socrates' civic character other than moral morality, convicted by his own law and committed to execution despite having a way to escape? </p><br>
        <h2 id="t5">Conclusion:</h2><br>
        <p>&emsp;&emsp;Anyone who wants to achieve the lofty goal of life should use discipline as a crutch. Only then can the enumerator burn what he thought. We too will walk and rise in line with the promise of the greatness that has shown so many good ways to revitalize the world. </p> <br>
        <center><q></q></center>
    </div>
</div>

{% endblock content %}
