{% extends 'base.html' %}
{% block title %} Dr. Radhakrishnan {% endblock %}

{% block content %}

<div class="essay-content">
    <div class="essay-title"> <center><h1 title="Essay about Dr.Radhakrishnan">Dr. Radhakrishnan</h1></center> </div><br>
    <img class="main_img" title="Dr.Radhakrishnan" src="{{url_for('static', filename = 'image/radhakrishnan.jpg')}}" alt="Dr.Radhakrishnan" width="300" height="300">
    <div class="index">
        <fieldset>
            <legend>INDEX ::</legend>
            <div class="index-content">
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t1">Introduction</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t2">Birth and youth</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t3">Academic work</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t4">University Vander</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t5">First citizen</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t6">Creator</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t7">Conclusion</a><br>
            </div>
        </fieldset>
    </div> <br>
    <div class="essay-body">
        <h2 id="t1">Introduction:</h2><br>
        <p>&emsp;&emsp;Dr. Radhakrishnan started his career as a teacher and rose to become the first citizen of Mother India. We will see a summary of his life today. </p> <br>
        <h2 id="t2">Birth and youth:</h2><br>
        <p>&emsp;&emsp;Radhakrishnan was born on September 5, 1888, in the village of Sarvapalli near Thiruthani to Veerachami and Seethammal. He studied at Uris College, Vellore and Tambaram Christian College, Chennai. According to the custom of the time, at the age of 16, he married Sivagami. He was proficient in both Northern languages ​​and Hindi and was interested in Vedas, Upanishads and philosophy. </p> <br>
        <h2 id="t3">Academic work:</h2><br>
        <p>&emsp;&emsp;Dr. Radhakrishnan joined Chennai State College in 1909 as a lecturer, beginning his teaching career. He expanded his knowledge by engaging in philosophical research. In 1918 the University of Mysore invited him and offered him the post of Professor of Philosophy. Within a few years his fame began to spread like wildfire among the students. From Mysore he went to Calcutta University to take charge of the Department of Philosophy. The Mysore students who sent him then untied the horse from the chariot and dragged the chariot by themself to the railway station. The event brought flexibility to Dr. Radhakrishnan. The students also showed their immense love for him. </p> <br>
        <h2 id="t4">university Vander:</h2><br>
        <p>&emsp;&emsp;Universities were eagerly waiting to appoint Radhakrishnan as vice-chancellor of university, who was himself a university. He effectively served as vice-chancellor at Andhra University and Kasi Hindu University. During his tenure as the Chairman of the Indian Committee of UNESCO and the Embassy of India in Russia, he added pride to the motherland with his openness of knowledge to the admiration of world leaders and nations. </p><br>
        <h2 id="t5">first citizen:</h2><br>
        <p>&emsp;&emsp;Radhakrishnan, who served as the Vice President of India from 1952 to 1962, was elevated to the presidency. From 1962 to 1967 he served as the first citizen of the Republic of India and served as an international dignitary. </p> <br>
        <h2 id="t6">Creator:</h2><br>
        <p>&emsp;&emsp;Dr. Radhakrishnan recorded a book of philosophical ideas that arose in his deep thought. His writings on Vedanta, Indian philosophy, methods of ambitious life, future civilization, and Tagore's philosophies attest to his prowess. </p> <br>
        <h2 id="t7">Conclusion:</h2><br>
        <p>&emsp;&emsp;Dr. Radhakrishnan passed away on April 15, 1975. His birthday, September 5, is celebrated as 'Teacher's Day' at his request, as he has demonstrated throughout his life that 'every place a student goes to is special'. </p> <br>
    </div>
</div>

{% endblock content %}
