{% extends 'base.html' %}
{% block title %} Essay Topics {% endblock %}

{% block content %}

<div class="essaytopic row container ">
    <div class="column">
        <dl>
            <dt><h3>Biographical articles</h3></dt>
            <dd>
                &emsp; <span class="essay_topic_bullet">&#9678;</span> <a target="_blank" title = "Gandhi" href="/gandhi" >Mahatma Gandhi</a> <br>
                &emsp; <span class="essay_topic_bullet">&#9678;</span> <a target="_blank" title = "Nehru" href="/nehru">Javaharlal Nehru</a><br>
                &emsp; <span class="essay_topic_bullet">&#9678;</span> <a target="_blank" title = "Kamarajar" href="/kamarajar">Kamarajar</a><br>
                &emsp; <span class="essay_topic_bullet">&#9678;</span> <a target="_blank" title = "Ambedkar" href="/ambedkar">B.R. Ambedkar</a><br>
                &emsp; <span class="essay_topic_bullet">&#9678;</span> <a target="_blank" title = "Periyar" href="/periyar">Periyar</a><br>
                &emsp; <span class="essay_topic_bullet">&#9678;</span> <a target="_blank" title = "Tirupur Kumaran" href="/kumaran">Kodikatha Kumaran</a><br>
                &emsp; <span class="essay_topic_bullet">&#9678;</span> <a target="_blank" title = "Anna" href="/anna">Perarinjar Anna</a><br>
                &emsp; <span class="essay_topic_bullet">&#9678;</span> <a target="_blank" title = "Bharathiyar" href="/bharathiyar">Bharathiyar</a><br>
                &emsp; <span class="essay_topic_bullet">&#9678;</span> <a target="_blank" title = "Annai Terasa" href="/terasa">Annai Terasa</a><br>
                &emsp; <span class="essay_topic_bullet">&#9678;</span> <a target="_blank" title = "A.P.J.Abdul Kalam" href="/apj">A.P.J.Abdul Kalam</a><br>
                &emsp; <span class="essay_topic_bullet">&#9678;</span> <a target="_blank" title = "Kalpana Chawla" href="/kalpanachawla">Kalpana Chawla</a><br>
                &emsp; <span class="essay_topic_bullet">&#9678;</span> <a target="_blank" title = "Kaithe Millath" href="/kaithemillath">Kaithe Millath</a><br>
                &emsp; <span class="essay_topic_bullet">&#9678;</span> <a target="_blank" title = "Dr.Radhakrishnan" href="/radhakrishnan">Dr. Radhakrishnan</a><br>
                &emsp; <span class="essay_topic_bullet">&#9678;</span> <a target="_blank" title = "Narayanamoorthi" href="/narayanamoorthi">Infosys Narayana Moorthi</a><br>
            </dd>
        </dl>   
    </div>
    <div class="column">
      <dl>
        <dt><h3>Sociology Essays</h3></dt>
        <dd>
            &emsp; <span class="essay_topic_bullet">&#9678;</span> <a target="_blank" title = "Alcoholism" href="/alcoholism">Alcoholism</a><br>
            &emsp; <span class="essay_topic_bullet">&#9678;</span> <a target="_blank" title = "AIDS" href="/aids">AIDS/HIV</a><br>
            &emsp; <span class="essay_topic_bullet">&#9678;</span> <a target="_blank" title = "Global warming" href="/globalwarming">Global Warming</a><br>
            &emsp; <span class="essay_topic_bullet">&#9678;</span> <a target="_blank" title = "Gloabalization" href="/globalization">Gloabalization</a><br>
        </dd>
      </dl>
      <dl>
          <dt><h3>Educational Science</h3></dt>
          <dd>
              &emsp; <span class="essay_topic_bullet">&#9678;</span> <a target="_blank" title = "Computer" href="/computer">Computer</a><br>
              &emsp; <span class="essay_topic_bullet">&#9678;</span> <a target="_blank" title = "Girls Education" href="/girlsedu">Girls Education</a><br>
              &emsp; <span class="essay_topic_bullet">&#9678;</span> <a target="_blank" title = "Space Achievements" href="/space">Space Achievements</a><br>
              &emsp; <span class="essay_topic_bullet">&#9678;</span> <a target="_blank" title = "Internet" href="/internet">Website and Uses</a><br>
          </dd>
      </dl>
      <dl>
          <dt><h3>Title Drop Article</h3></dt>
          <dd>
              &emsp; <span class="essay_topic_bullet">&#9678;</span> <a target="_blank" title = "Unity is Strength" href="/uniteddivided">United we stand; divided we fall</a><br>
              &emsp; <span class="essay_topic_bullet">&#9678;</span> <a target="_blank" title = "Attempt to transcend" href="/transcend">Attempt to transcend </a><br>
              &emsp; <span class="essay_topic_bullet">&#9678;</span> <a target="_blank" title = "Discipline" href="/discipline">Discipline brings revival</a><br>
          </dd>
      </dl>
    </div>
    <div class="column">
      <dl>
          <dt><h3>Pickup Article</h3></dt>
          <dd>
              &emsp; <span class="essay_topic_bullet">&#9678;</span> <a target="_blank" title = "Bharathidasan" href="/tamilpatriot">Paventhar's Tamil patriot</a><br>
              &emsp; <span class="essay_topic_bullet">&#9678;</span> <a target="_blank" title = "TamilNadu Liberation War" href="/roleoftn">The role of TamilNadu in the War of liberation</a><br>
              &emsp; <span class="essay_topic_bullet">&#9678;</span> <a target="_blank" title = "Rain water harvesting" href="/rainwaterharvesting">Rain Water Harvesting</a><br>
              &emsp; <span class="essay_topic_bullet">&#9678;</span> <a target="_blank" title = "Environmental development" href="/evdevelopment">Environmental development</a><br>
          </dd>
      </dl>
      <dl>
          <dt><h3>Others</h3></dt>
          <dd>
              &emsp; <span class="essay_topic_bullet">&#9678;</span> <a target="_blank" title = "Press" href="/press">Freedom of Press</a><br>
              &emsp; <span class="essay_topic_bullet">&#9678;</span> <a target="_blank" title = "Technology" href="/technology">Merits and Demerits of Technology</a><br>
              &emsp; <span class="essay_topic_bullet">&#9678;</span> <a target="_blank" title = "Differently Abled" href="/differentlyabled">Rehabilation of the disabled</a>
          </dd>
      </dl>
    </div>
  </div>

{% endblock content %}