{% extends 'base.html' %}
{% block title %} Environmental development {% endblock %}

{% block content %}

<div class="essay-content">
    <div class="essay-title"> <center><h1 title="Essay about environmental development">Environmental development</h1></center> </div> <br>
    <img class="main_img" title="Environmental development" src="{{url_for('static', filename = 'image/evdevelop.jpg')}}" alt="Environmental development" width="350" height="300"> <br>
    <div class="index">
        <fieldset>
            <legend>INDEX ::</legend>
            <div class="index-content">
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t1">Indroduction</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t2">Forests and human development</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t3">Water resources</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t4">Atmosphere and ozone layer</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t5">Noise pollution</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t6">Population growth and environments</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t7">Multinational corporate role in environmental protection</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t8">Conclusion</a><br>
            </div>
        </fieldset>
    </div> <br>
    <div class="essay-body">
        <h2 id="t1">Indroduction:</h2><br>
        <p> &emsp;&emsp;"Let's protect the environment"<br>
            &emsp;&emsp;"Let's grow trees without shrinking"<br>
            &emsp;&emsp;"Let's get more rain"<br>
            &emsp;&emsp;"Let's conserve water resources and protect land resources" <br>
            &emsp;&emsp;"Smoke is our enemy"<br>
            &emsp;&emsp;&emsp;These are just a few of the environmental awareness slogans. All the natural resources around us are the environment. Plants, animals and humans are interrelated in the natural ecosystem. Man collided with nature. So everything like water, land, air, creatures are affected. The international community has been calling for legislation to improve the environment. However, individual control and the cooperation of all nations can prevent this. </p> <br>
        <h2 id="t2">Forests and human development:</h2><br>
        <p>&emsp;&emsp;According to our national policy, 33% of the total land area should be forest. But 45 million hectares of forest have been destroyed in the last 30 years. Forests cover 17.22 per cent of the total land area of Tamil Nadu. The Central Government enacted the Forest Conservation Act in 1980 to protect the forests. Based on this, the social welfare scheme is being implemented. </p> <br>
        <p>&emsp;&emsp;Forests are generally affected by floods, droughts, landslides, erosion, and climate change. Worldwide, more than 200 biosphere reserves have been established in 40 countries since the 1972 initiative. </p> <br>
        <h2 id="t3">Water resources:</h2><br>
        <p>&emsp;&emsp;"The world cannot exist without water," says Thiruvalluvar. There is hardly any literature that does not mention the speciality of sky. The world has 1359 million cubic kilometers of water. 97.3% of which is seawater. The remaining 2.7 percent is used for human consumption. Scientists at the National Environmental Research Institute say that 70 per cent of the total water in India is polluted. </p> <br>
        <p>&emsp;&emsp;About 80% of the world's diseases are caused by water. When water is polluted, organisms, land and air are all affected.</p>
        <h2 id="t4">Atmosphere and ozone layer:</h2><br>
        <p>&emsp;&emsp;A man consumes 16 kg of air, 2.5 liters of water and 1.5 kg of food per day. Air is needed to burn any material. A man can only live a maximum of five minutes without air. The German scientist Bernard Ulrich was the first to make the world aware of atmospheric disorders. </p>
        <p>&emsp;&emsp;The atmosphere extends for about 100 km around the earth. Around it, a natural substance called ozone surrounds us like a screen and protects us. The hole in the ozone layer was caused by factory and vehicle smoke. Europe, the United States, Canada, and Russia have all lost 50% of their ozone layer. 3% of the ozone layer in India is depleted. Protecting the atmosphere is our lifeblood. April 22 is celebrated every year as "Earth Day". They pledge to protect the environment of our planet.</p></br>
        <h2 id="t5">Noise pollution:</h2><br>
        <p>&emsp;&emsp;We measure the volume of sound in decibels. Humans can only hear sounds up to 120 decibels. Vehicle noise, factory noise, etc. disturb the peace of mind. Although man's new discoveries reveal his knowledge, they are also causing harm in his life. </p> <br>
        <h2 id="t6">Population growth and environments:</h2><br>
        <p>&emsp;&emsp;Due to the growing population in the world, space crisis, sewerage, disease, pollution, water, land pollution, air pollution is increasing. Asian countries in particular have been hit hard by this. A controlled population and a controlled way of life will be the solution to the environmental degradation of human society. </p> <br>
        <h2 id="t7">Multinational corporate role in environmental protection:</h2><br>
        <p>&emsp;&emsp;In 1948 the International Agency for Conservation of Nature was established. The Deep Sea Research Center was established in 1968, the International Hydrological Project in 1964, and the Environmental Education Project in 1975. The High Level Committee on Environment was set up in 1980. The Government of India enacted the Pesticides Act in 1981 and the Department of Sanitation to take environmental protection measures. June 5 is celebrated as 'World Environment Day'. In Tamil Nadu, environmental forums have been started in 1260 schools and 1.6 lakh members in 2900 schools with the National Green Force. </p> <br>
        <h2 id="t8">Conclusion:</h2><br>
        <p>&emsp;&emsp;This is the time environment that frightens us from ordinary drinking water to radiation. Therefore, it is the duty of all of us to create environmental awareness among the people and make human society a healthy way of life. </p> <br>
        <center><q></q></center>
    </div>
</div>

{% endblock content %}
