{% extends 'base.html' %}
{% block title %} Girls Education {% endblock %}

{% block content %}

<div class="essay-content">
    <div class="essay-title"> <center><h1 title="Essay about girls's education">Girl's education</h1></center> </div>
    <div class="index">
        <img class="main_img" src="{{url_for('static', filename = 'image/girledu.jpg')}}" alt="Girls education" width="350" height="220">
        <fieldset>
            <legend>INDEX ::</legend>
            <div class="index-content">
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t1">Preface</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t2">Poets on the status of women's education</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t3">Women's education</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t4">Government initiative</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t5">Women in higher education</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t5">Conclusion</a><br>
            </div>
        </fieldset>
    </div> <br>
    <div class="essay-body">
        <h2 id="t1">Preface:</h2><br>
        <p>&emsp;&emsp;This state, which saw women as the source of power, the abode of education, why even as God. Yet in real life the tragedy of what they consider to be a commodity, a possession, and even a burden, continues to this day. He is only enlightened by the education of a man. But it should not be forgotten that in a woman's education the whole family lives with light. Bharathi, who believed that women should be educated in the society as well, sang <br> 
            &emsp;&emsp;&emsp;"Education should be developed <br>
            &emsp;&emsp;&emsp; People are one for all". <br>
            &emsp;&emsp;The deep idea that basic female education is the basis of a civilized society is spreading all over the world. </p> <br>
        <h2 id="t2">Poets on the status of women's education:</h2><br>
        <p>&emsp;&emsp;There are no poets who do not sing women <br>
           &emsp;&emsp;&emsp;"It's bad for women to touch the book <br>
           &emsp;&emsp;&emsp;The one who said that has disappeared. " <br>
           <img class="main_img" src="{{url_for('static', filename = 'image/gedu.jpg')}}" alt="Girls education" width="350" height="220">
           &emsp;&emsp;- Bharatiyar exemplifies the death bell by this poem  <br>
           &emsp;&emsp;&emsp;“Degrees govern and make laws <br>
           &emsp;&emsp;&emsp;We girls came to host it in this world <br>
           &emsp;&emsp;&emsp;In reaching knowledge we girls are  <br>
           &emsp;&emsp;&emsp;No less and in equal to men" <br>
           &emsp;&emsp;- Bharathi highlights the effects of girls' education.Bharathidasan reprimands <br>
           &emsp;&emsp;&emsp;"Uneducated Women are Brackish land" <br>
        <h2 id="t3">women's education:</h2><br>
        <p>&emsp;&emsp;The reference to 'similar education' found in ancient texts highlights the educational excellence of women of that time. Along with the ancient males, Avvaiyar, Kakkaipatiniyar, Naccellaiyar, Velliveediyar, Perungoppendu, Parimakalir etc. lived a special life by composing poetry. It can be seen in many places in the ancient literature that women were treated with equal rights. </p> <br>
        <p>&emsp;&emsp;In the Middle Ages women were enslaved first to their parents,
            <img class="main_img" src="{{url_for('static', filename = 'image/tiedhands.jpg')}}" alt="Girls tied" width="350" height="220">
            then to their husbands, and finally to their children. Women in the kitchen were despised as to what education was for. This situation lasted until the twentieth century. Is it possible to describe women as house chandelier and not promote enlightened education that removes the inner light? Is this justice? As they were furious. As a result, we see today that women are also getting higher education. </p> <br>        
        <h2 id="t4">government initiative:</h2><br>
        <p>&emsp;&emsp;Realizing that the country can only benefit from female education, our federal government has introduced a rare program called 'Education for All' and is taking full measures to provide education to all boys and girls between the ages of 6 and 14 years. Provides special incentives for workers' children to study. Our government is providing special incentives for the education of the most backward girls. Provides free bicycles to all students in higher education. Provides free education to all students until graduation. An order has been issued to appoint women teachers in primary schools. Provides marriage grants for students up to eighth grade. Thus, the government is working diligently in various ways to improve women's education. </p><br>
        <h2 id="t5">women in higher education:</h2><br>
        <p>&emsp;&emsp;Today's women are rising to prominence in all fields such as politics,
            <img class="main_img" src="{{url_for('static', filename = 'image/ghighedhu.jpg')}}" alt="Girls higher education" width="350" height="220">
            sports, medicine, vocational education, journalism, and commerce. Mother Indira Gandhi, Mother Teresa, First Lady of the Supreme Court Judge Fathima Beevi, First Lady Scientist Abala Bose, Astronaut Kalpana Chawla, Athletes Thangappan Usha, Anju George, First Lady IPS Kiranpedi, First Lady Artisha crossing the English Channel, First Pilot Durga Banerjee Is notable among women of record. </p> <br>
        <h2 id="t5">Conclusion:</h2><br>
        <p>&emsp;&emsp;The female community, which was oppressed by the ruling class, is being revived by education. The demand for legislation to elect one-third female members of the legislature and parliament is growing. Women have set up self-help groups and are working with awareness. The situation has developed that only female education can cook a new world. We appreciate female education, remembering that the Greek genius Pythagoras, who lived many centuries ago, stated in his book that men and women should be treated equally in society; Let's create a new world. </p> <br>
        <center><q>If you educate a man, you educate an individual. But if you educate a woman, you educate a nation.</q></center>
    </div>
</div>

{% endblock content %}
