{% extends 'base.html' %}
{% block title %} Home {% endblock %}

{% block content %}

<header>
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="{{url_for('static', filename = 'image/writing2.jpg')}}" class="d-block w-100" alt="pen snd paper">
              <div class="carousel-caption">
                <h1>Welcome To PaperBoat....!</h1>
                <p>&emsp;This website provides you with essays which are simple, sweet, new and clear...<br>
                  &emsp;We have provided various topics for you...<br>
                  &emsp;These essays are mainly prepared for students... <br>
                  &emsp;It can help them to write essays...
                </p>              
              </div>
            </div>
          </div>
        </div>
</header>

<article>
    <p>&emsp;&emsp;An essay is a short piece of writing. it is often written from an author's personal point of view. the definition of an essay is vague, overlapping with those of an article.</p>
    <p>&emsp;&emsp;In recent times, essays have become a major part of a formal education. Secondary students are taught structured essay formats to improve their writing skills, and essays are often used by universities in selecting applicants. In both secondary and tertiary education, essays are used to judge the mastery and comprehension of material Students are asked to explain, comment on, or assess a topic of study in the form of an essay.</p>
    <p>&emsp;&emsp;Academic essays are usually more formal than literary ones. They may still allow the presentation of the writer's own views, but this is done in a logical an factual manner.</p>
</article>  <br>

<section class="section container-fluid">
  <div class="cardcont row">
    <div class="column">
      <div class="card"  >
          <div class="layer">

          </div>
        <div class="card-body">
          <h5 class="card-title" title="Definition Essay">Definition Essay</h5>
          <p class="card-text">&emsp;When you are writing a definition essay, you take a term or an idea and write about what it is. Often, definitions are combined with classification or other forms of organization in the essay. You need to give a careful definition of the key term before going on to discuss different types or examples.</p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card"  >
          <div class="layer">

          </div>
        <div class="card-body">
          <h5 class="card-title" title="Classification Essay">Classification Essay</h5>
          <p class="card-text">&emsp;In a classification essay, you separate things or ideas into specific things or ideas into specific categories and discuss each of them.<br>&emsp;You organize the essay by defining each classification and by defining each classification and by giving examples of each type.</p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card"  >
          <div class="layer">

          </div>
        <div class="card-body">
          <h5 class="card-title" title="Descriptive Essay">Descriptive Essay</h5>
          <p class="card-text">&emsp;In a description essay, you write aboout what a person, place or thing is like. You organize the essay by describing different parts or aspect of the main subject. <br>&emsp; The students use sensory information to enable readers to use their five senses to understand the topic of the essay.These types of essays are called Descriptive Essays.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="cardcont row ">
    <div class="column">
      <div class="card"  >
          <div class="layer">

          </div>
        <div class="card-body">
            <h5 class="card-title" title="Sequence Essay">Sequence Essay</h5>
          <p class="card-text">&emsp;In a sequence essay, you are writing to describe a series of events or a process in some sort of order. Usually, this order is based on time. You organize the essay by writing about each step of the process in the order it occurred.</p>
        </div>
      </div>
    </div>
    <div class="column">
        <div class="card"  >
          <div class="layer">

          </div>
          <div class="card-body">
              <h5 class="card-title" title="Explanation Essay">Explanation Essay</h5>
            <p class="card-text">&emsp;In an explanation essay, you explain how or why something happens or has happened. You need to explain different causes and effects. You should organize the essay by explaing each individual casue of effect.</p>
          </div>
        </div>
    </div>
    <div class="column">
        <div class="card"  >
          <div class="layer">

          </div>
          <div class="card-body">
              <h5 class="card-title" title="Evaluation Essay">Evaluation Essay</h5>
            <p class="card-text">&emsp;In an evaluation essay, you make judgmetns about people, ideas, and possible actions. You make your evaluation based on certain criteria that you develop, Organize the essay by discussing the criteria you used to make your judgment.</p>
          </div>
        </div>
    </div>
  </div> 
</section>

<aside>
  <div class="aside">
    <p class="aside-text">&emsp;&emsp;Writing provides a permanent record of your activities and the activities of your organization, so it is an important communication tool. Writing is also a way of life in modern organizations, so you must master it if you want to have a successful career. It is almost impossible to finnd a professional job description that does not include excellent writing skills. Good professional writing, like all good writing, is clear and easy to understand. <br>
       &emsp;&emsp;Many people think large, abstract words and phrases sound professional, so they pepper their writing with them, even though theses words and phrases are connfusing or even pompous. The result is that they loe their readers. A good rule of thumb is to write the way you speak. No one would ever say that a reserve had been retained for future use. There are four pillars of good writing: Shortness, Simplicity, Strength and Sincerity.</p>
  </div>
</aside>

{% endblock content %}
