{% extends 'base.html' %}
{% block title %} How to {% endblock %}

{% block content %}

<div class="how_to_content">
    <h1 class="how_to_title">How to write an essay</h1> <br>

    <p class = "how_to_para"> &emsp;&emsp;An essay is a collection of ideas that we have thought about on a particular topic so that the reader can understand it without confusion. The taste of the article is enhanced by the addition of the adult statement, lyrics, proverbs, year of the incident, etc. to the basic ideas of the article. It is best to create our own style without having to memorize the article as much as possible. That is what the essay tutor expects from you. If you have a collection of tasty snippets published in the daily news, weekly magazine and library books, you can incorporate the required details into our article.<br>
        &emsp;&emsp;The English proverb says "The pen is mightier than the sword". So we have to use appropriate words to make the comments we say have an impact on his mind.</p> <br>

    <h2 class="how_to_sub">Essay writing method:</h2> <br>

    <p class = "how_to_para">&emsp;&emsp;The article consists of 3 parts. They are, <br>
        &emsp;&emsp;&emsp;&emsp;<span class="how_to_bullet">&#9678;</span>&emsp;Preface / Introduction <br> 
        &emsp;&emsp;&emsp;&emsp;<span class="how_to_bullet">&#9678;</span>&emsp;Subject<br> 
        &emsp;&emsp;&emsp;&emsp;<span class="how_to_bullet">&#9678;</span>&emsp;Conclusion.</p> <br>

    <h2 class="how_to_sub">Introduction:</h2> <br>

    <p class = "how_to_para">&emsp;&emsp;The reader will know the sweetness of an article by reading its preface, as if "the beauty is the index of the mind" Therefore, the writer should express his interest in reading the article in the preface. But it should convey the essence of the ideas to be written. <br>
    
    <h2 class="how_to_sub">Subject:</h2> <br>

    <p class = "how_to_para">&emsp;&emsp;Since there are many descriptions of the topic in the material, subject can be divided into several parts. In the subject text the paragraphs should be divided according to the title of the article. Each paragraph should have a specific theme. Each paragraph should have a small title. You can also set subheadings under the headings if needed.</p> <br>

    <h2 class="how_to_sub">Conclusion:</h2> <br>

    <p class = "how_to_para">&emsp;&emsp;The conclusion reveals the essence of the ideas expressed in the articles so far, and it is good to conclude by emphasizing the intended purpose of the article.</p> <br>

    <h1 class="how_to_title">Important things for essay writers to remember</h1> <br>

    <p class = "how_to_para">
        &emsp;&emsp;&emsp;<span class="how_to_bullet">&#9678;</span>&emsp;Leaving a little space at the beginning of each paragraph will add beauty to the starting article. <br>
        &emsp;&emsp;&emsp;<span class="how_to_bullet">&#9678;</span>&emsp;The beginning and end should not be monosyllabic or singular. <br>
        &emsp;&emsp;&emsp;<span class="how_to_bullet">&#9678;</span>&emsp;According to the scholar, the lyrics of the poets, proverbs, etc., will add beauty to the article like a woman's gold jewelry. <br>
        &emsp;&emsp;&emsp;<span class="how_to_bullet">&#9678;</span>&emsp;Essay should be written without grammatical error, typo or junction error. <br>
        &emsp;&emsp;&emsp;<span class="how_to_bullet">&#9678;</span>&emsp;Do not use slang words. <br>
        &emsp;&emsp;&emsp;<span class="how_to_bullet">&#9678;</span>&emsp;Write in your own style, leaving word for word. <br>
        &emsp;&emsp;&emsp;<span class="how_to_bullet">&#9678;</span>&emsp;Mandatory use of exclamation point, comma, semicolon, bracket, question mark, etc. where necessary. <br>
        &emsp;&emsp;&emsp;<span class="how_to_bullet">&#9678;</span>&emsp;Look no further than the pages mentioned in the article. <br>
        &emsp;&emsp;&emsp;<span class="how_to_bullet">&#9678;</span>&emsp;Beating and editing will diminish the beauty. <br>
        &emsp;&emsp;&emsp;<span class="how_to_bullet">&#9678;</span>&emsp;Beautiful handwriting is like the best recommendation letter. It will help elevate your score. <br>
        &emsp;&emsp;&emsp;<span class="how_to_bullet">&#9678;</span>&emsp;Once you have finished writing the article, read it and correct any errors. <br>
        &emsp;&emsp;&emsp;<span class="how_to_bullet">&#9678;</span>&emsp;If you write the article following the above rules, there is no doubt that it will sound like sugar cane.</p>

</div>
{% endblock content %}
