{% extends 'base.html' %}
{% block title %} Websites {% endblock %}

{% block content %}

<div class="essay-content">
    <div class="essay-title"> <center><h1 title="Essay about Websites">Website and Uses</h1></center> </div> <br>
    <img class="main_img" title="Websites" src="{{url_for('static', filename = 'image/websites.jpg')}}" alt="website" width="400" height="250"> <br>
    <div class="index">
        <fieldset>
            <legend>INDEX ::</legend>
            <div class="index-content">
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t1">Introduction</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t2">Initiation</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t3">Multiplication</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t4">Creation</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t5">Conclusion</a><br>
            </div>
        </fieldset>
    </div> <br>
    <div class="essay-body">
        <h2 id="t1">Introduction:</h2><br>
        <p>&emsp;&emsp;"Crore benefits from living together," said our ancients. The website is an unparalleled example of this. As a result of the development of communication technology, the website has been systematically created to meet each other, share ideas and talk face to face. In this article we will look at the resources that the website provides. </p> <br>
        <h2 id="t2">Initiation:</h2><br>
        <p>&emsp;&emsp;In 1969, computers in various military positions in the United States were first connected by telephone to a public domain. All military operations were coordinated under the control of the package. It was called Urbanet. Later it became known as the Internet. Also known as the World Wide Web. </p> <br>
        <h2 id="t3">multiplication:</h2><br>
        <p>&emsp;&emsp;Today websites have multiplied by thousands. Each is given a separate address. Information can be obtained from any site as per our requirement; Can send information. You can have a face-to-face relationship on a computer screen. Launched in 1969 as a four-computer network, the website became a three-nation platform between the United States, the United Kingdom and Norway in 1973. But today all the countries of the world have got internet facility. Today, 80 crore people are using the Internet service. Websites like Yahoo and Google are popular among the people. </p> <br>
        <h2 id="t4">creation:</h2><br>
        <p>&emsp;&emsp;Today there is no need for a teacher in the classroom as various universities from any corner of the world are connected through the internet and learning and teaching is done directly to the students by the best educators. A student in Chennai can select and copy books from the American Bookstore. A doctor from the United States is able to perform surgery on a patient in an Indian hospital. Thus there is hardly a field that does not enter the Internet service such as scientific research, industry, commerce, university, hospital, stock market banking. </p><br>
        <h2 id="t5">Conclusion:</h2><br>
        <p>&emsp;&emsp;It is no exaggeration to say that the Internet service has changed today's human life to the point where it says "the world is in your hands". Now we can finish most of the work as if we were in our own home. But shocking information has come out that only 20 per cent of the internet users are using it effectively and the rest are engaging in other hobbies and entertainment. It is best for parents to keep an eye on their children. Let we seek the good because "Good and evil do not come from others"! We will get a number of benefits! </p> <br>
    </div>
</div>

{% endblock content %}
