
{% extends 'base.html' %}
{% block title %} Kaithe Millath {% endblock %}

{% block content %}

<div class="essay-content">
    <div class="essay-title"> <center><h1 title="Essay about Kaithemillath">Dignified Kaithe Millath</h1></center> </div><br>
    <img class="main_img" title="Kaithe millath" src="{{url_for('static', filename = 'image/millath.jpg')}}" alt="Kaithemillath" width="300" height="300">
    <div class="index">
        <fieldset>
            <legend>INDEX ::</legend>
            <div class="index-content">
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t1">Introduction</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t2">Birth and education</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t3">Involvement in the war of liberation</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t4">Positions held</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t5">Tamil Debit</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t6">Conclusion</a><br>
            </div>
        </fieldset>
    </div> <br>
    <div class="essay-body">
        <h2 id="t1">Introduction:</h2><br>
        <p>&emsp;&emsp;Here we see the history of Kaithe Millath, who held dignity in the fields he accepted as political and public life. </p> <br>
        <h2 id="t2">Birth and education:</h2><br>
        <p>&emsp;&emsp;Kaithe Millath Ismail Saqib was born in Tirunelveli in 1896, the son of Miyakan Rowther. He lost his father at an early age and his mother taught him Arabic and religious texts. Kaithe Millath graduated from high school in Tirunelveli and later joined Trichy Joseph College. He then studied at the Christian College, Chennai and obtained his bachelor's degree. </p> <br>
        <h2 id="t3">Involvement in the war of liberation:</h2><br>
        <p>&emsp;&emsp;Kaithe Millath took an active part in the Gandhi's Non-Cooperation Movement, which led the Indian War of Independence. Participated in the 1920 freedom struggle. </p> <br>
        <h2 id="t4">Positions held:</h2><br>
        <p>&emsp;&emsp;He was elected in 1936 as the leader of the Muslim League, which was started to assert proper representation for Indian political Islamists. </p><br>
        <p>&emsp;&emsp;From 1946 to 1952 he was a member of the Chennai Provincial Assembly and Leader of the Opposition. He was a Member of the Upper House of Parliament from 1952 to 1958. He contested three parliamentary elections in Kerala in 1962,1967,1971 across state and language boundaries and won three times without going to the constituency. These victories have exerted immense popular influence on the Kaithe Millath. </p> <br>
        <h2 id="t5">Tamil debit:</h2><br>
        <p>&emsp;&emsp;Kaithe Millath is a man who can speak his mind boldly in Parliament. Once upon a time there was a debate in Parliament as to which language could be made the official language of India. Then Kaithe Millath arose and declared that Tamil, the most ancient and literary grammar of Indian languages, deserved to be made the common language of the country. This explains his passion for the Tamil language. </p> <br>
        <h2 id="t6">Conclusion:</h2><br>
        <p>&emsp;&emsp;Kaithe Millath, who worked for the liberation of India and the rise of the Islamic people, died on 4.4.1972. Even after his death, his dignity in politics and public life is still admired. </p> <br>
        <center><q></q></center>
    </div>
</div>

{% endblock content %}
