{% extends 'base.html' %}
{% block title %} Kalpana Chawla {% endblock %}

{% block content %}

<div class="essay-content">
    <div class="essay-title"> <center><h1 title="Essay about kalpanachawla">Space star Kalpana Chawla</h1></center> </div><br>
    <img class="main_img" title="Kalpana Chawla" src="{{url_for('static', filename = 'image/kalpanachawla.jpg')}}" alt="kalpanachawla" width="400" height="300">
    <div class="index">
        <fieldset>
            <legend>INDEX ::</legend>
            <div class="index-content">
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t1">Introduction</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t2">Birth and education</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t3">Work experiences</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t4">Try flying</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t5">Space travel</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t6">Other tasks</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t7">Conclusion</a><br>
            </div>
        </fieldset>
    </div> <br>
    <div class="essay-body">
        <h2 id="t1">Introduction:</h2><br>
        <p>&emsp;&emsp;Thiruvalluvar said, "We will try our best to do what we have to do." It means that if you always remember and act on something you want, it will happen. Kalpana Chawla has been dreaming of flying in the sky since her youth and is proud to have made it a reality. </p> <br>
        <h2 id="t2">Birth and education:</h2><br>
        <p>&emsp;&emsp;Chawla, who chose India as his homeland during the Indo-Pakistani partition, disembarked at Karnal in Haryana and boarded a train from Pakistan to New Delhi. Kalpana Chawla was born on 1.7.61 as his beloved daughter. Kalpana Chawla graduated from the Punjab College of Engineering in 1982 after completing her schooling at Tagore Balaniketan. Her wedding took place on December 2 of the same year. She received her master's degree in aerospace engineering from the University of Texas in 1984. She received her doctorate in 1988 in the same course. </p> <br>
        <h2 id="t3">Work experiences:</h2><br>
        <p>&emsp;&emsp;Kalpana's space dream was ridiculed and tested, but she did not care in the slightest. In 1988, she joined NASA's Ames Research Center. She has served as assistant president and research scientist at Los Aldas Myths Inc. in California. She married Jin Piercaricin, who trained him to fly. </p> <br>
        <h2 id="t4">Try flying:</h2><br>
        <p>&emsp;&emsp;In 1993 she applied to fly to the NASA Space Center as an astronaut. The result was a failure. However, she thought defeat was the first step to success and further qualified herself in 1994 when she applied and succeeded. She then received special training in Kentucky in 1994. She joined the Johnson Space Center in 1995 and joined the 15th Space Flight Corps. Trained at NASA in 1996. In the same year she received the title of Flight Specialist. </p><br>
        <h2 id="t5">Space travel:</h2><br>
        <p>&emsp;&emsp;He made his first voyage from November 19 to December 5, 1997, across the country, language and borders. During this 65 lakh mile journey, she orbited the earth 257 times. The journey time is 376 hours and 34 minutes. The SDS Columbia spacecraft, Kalpana's second and final voyage, exploded on February 1, 2003, 16 minutes before landing on the 16th day after completing 80 missions in space. And Kalpana's space dreams are half-scattered. The world lost a rare brave astronaut. </p> <br>
        <h2 id="t6">Other tasks:</h2><br>
        <p>&emsp;&emsp;She is proficient not only in flying but also in prom. In her spare time she served in charge of the American Scout Movement and did excellent service. She nurtured a scientific interest in school students. It was during her last trip that she sent a message to the students of the Punjab Engineering College. It says, "There are always paths to success from dreams. May you have the vision to see them, the courage to achieve them, and the patience to travel in them." This shows Kalpana's expectations of the youth. </p> <br>
        <h2 id="t7">Conclusion:</h2><br>
        <p>&emsp;&emsp;Kalpana Chawla, who flew second in space in India and first among women, will be a milestone in the history of space. The sky is the limit and her fame will never fade. </p> <br>
        <center><q></q></center>
    </div>
</div>

{% endblock content %}
