{% extends 'base.html' %}
{% block title %} Tirupur Kumaran {% endblock %}

{% block content %}

<div class="essay-content">
    <div class="essay-title"> <center><h1  title="Essay about Tirupur Kumaran">Tirupur Kumaran</h1></center> </div><br>
    <img class="main_img" title="Tirupur Kumaran" src="{{url_for('static', filename = 'image/kumaran.jpg')}}" alt="Tirupur Kumaran" width="300" height="300">
    <div class="index">
        <fieldset>
            <legend>INDEX ::</legend>
            <div class="index-content">
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t1">Introduction</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t2">Birth and youth</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t3">Involvement in the war of liberation</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t4">Admitted to hospital</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t5">Reputation level</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t6">Conclusion</a><br>
            </div>
        </fieldset>
    </div> <br>
    <div class="essay-body">
        <h2 id="t1">Introduction:</h2><br>
        <p>&emsp;&emsp;Kumaran, who guard the flag was one of the soldiers who fought for the liberation of our country. A weaver who cares for the welfare of the home; In this article we will look at his history of hoisting the national flag to protect the dignity of the country. </p> <br>
        <h2 id="t2">Birth and youth:</h2><br>
        <p>&emsp;&emsp;Kumaran was born in October 1904 in the small town of Chennimalai in the Erode taluka of the then Coimbatore district to Nachimuthu and Karuppai. His given name is Kumaraswamy. Due to its proximity to Tirupur, the name Tirupur Kumaran was later established. Kumaran, who dropped out of fifth grade due to family poverty, learned his family's weaving business and multiplied his family's income. In 1923, at the age of 19, he married a 14-year-old girl named Ramai. Kumaran's parents recommended him as an accountant in a Cotton mill in Tirupur as his family's silk weaving did not satisfy their hunger. There, Kumaran enjoyed learning Tirukural and other literature during the rest of his working hours. </p> <br>
        <h2 id="t3">Involvement in the war of liberation:</h2><br>
        <p>&emsp;&emsp;Kumaran, who lived by wearing a hundred pieces of pure Khadar in his handkerchief, clung to the moral principles of Gandhiji. He was proud to know that Gandhi's principles were a reflection of Tamil civilization. He warned that Gandhiji would resume the anti-apartheid movement as the Gandhi-Irwin deal was over. The English government arrested Gandhi. There were also protests across the country. The Patriotic Youth Association decided to hold a picket in Tirupur. Kumaran also joined in. He was one of the 9 men in the army holding the national flag. As they passed through the Tirupur police station, the guards beat Kumaran, who was in the front row of the procession, without any warning. Kumaran's skull was broken and stuck in his head in the attack carried out by 32 guards. The brain lost its function. Again the guards put on their shoes and trampled Kumaran and the others to death. One had a broken rib. </p> <br>
        <h2 id="t4">Admitted to hospital:</h2><br>
        <p>&emsp;&emsp;Kumaran was admitted to the hospital along with two others who were critically injured. The police filed a false case alleging that Kumaran and others pelted the guards with stones and that the public meeting was unruly and therefore carried out with sticks. The hospital's chief physician was unable to save Kumaran's life. Kumaran passed away on the night of 10.1.31, the day of the protest. 11.1.1931 His body was cremated. </p><br>
        <h2 id="t5">Reputation level:</h2><br>
        <p>&emsp;&emsp;In honor of the sacrifice of Tirupur Kumaran, the street where he lived is called Kumaran Road. Kumaran Memorial Park and Memorial Pillar are located opposite the Tirupur Railway Station. Kumaran's never fading fame is also being spread in schools and public events. </p> <br>
        <h2 id="t6">Conclusion:</h2><br>
        <p>&emsp;&emsp;By the fact that the flag and the portrait of Tirupur Kumaran are still visible to the people of the country, we can understand the affection people still has in his name. The fame of Tirupur Kumaran, the heroic son who died for the country without thinking about home at the age to live, will never fade like the fame of our country. </p> <br>
    </div>
</div>

{% endblock content %}
