{% extends 'base.html' %}
{% block title %} Infosys Narayanamoorthi {% endblock %}

{% block content %}

<div class="essay-content">
    <div class="essay-title"> <center><h1>infosys Narayanamoorthi</h1></center> </div><br>
    <img class="main_img" title="Infosys Narayanamoorthy" src="{{url_for('static', filename = 'image/narayanamoorthy.jpg')}}" alt="Narayanamoorthi" width="400" height="250"> <br>
    <div class="index">
        <fieldset>
            <legend>INDEX ::</legend>
            <div class="index-content">
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t1">Introduction</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t2">Birth and study</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t3">The rise of Infosys</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t4">Accepted responsibilities</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t5">Awards and honors</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t6">Conclusion</a><br>
            </div>
        </fieldset>
    </div> <br>
    <div class="essay-body">
        <h2 id="t1">Introduction:</h2><br>
        <p>&emsp;&emsp;Idealists are those who strive for achievement by pioneering those who have achieved. In that sense, Narayana Murthy is a pole star in the hearts of Indian students. In this article, we will look at his achievements in making India a better place for Information Technology. </p> <br>
        <h2 id="t2">Birth and study:</h2><br>
        <p>&emsp;&emsp;Known to all as Infosys Narayanamurthy, Mr. Narayana Murthy was born on August 25, 1946 in the state of Karnataka. He graduated from the University of Mysore with a Bachelor's degree in Electrical Engineering in 1967. He joined the Indian Institute of Technology in 1969 and obtained his Master's degree in Technology. </p> <br>
        <h2 id="t3">The rise of Infosys:</h2><br>
        <p>&emsp;&emsp;Having developed their skills in information technology, Mr. Narayana Murthy put it into action. He co-founded Infosys in 1981 with six software designers. Today the world looks at his company with amazement. Today, the company has been successful in attracting the attention of the public, customers, employees and investors alike. Infosys, one of the world's leading IT companies, is developing and launching a number of new software products. In 1999, the company became the only Indian technology company to be listed on the US Stock Exchange. Narayanamurthy has been a major force in gaining a prominent place on the Indian IT map and providing employment to tens of thousands of people. </p> <br>
        <h2 id="t4">Accepted responsibilities:</h2><br>
        <p>&emsp;&emsp;Only a few people in the world have mastered the art of changing the world. Mr. Narayana Murthy is one of them. Many companies around the world are using his service. The Reserve Bank of India has bought him and appointed him as one of its board directors. Narayanamurthy has been a member of the National Information Technology Enforcement Board of India and a member of the Prime Minister's Chamber of Commerce and Industry. Narayanamurthy, who served as national president of software services companies from 1992 to 1994, is also a member of the Paris Airport Cargo Handling Committee. </p><br>
        <h2 id="t5">Awards and honors:</h2><br>
        <p>&emsp;&emsp;Awards have been presented to Narayanamurthy in recognition of his service. He won the Asian Star Award for three consecutive years in 1998, 1999 and 2000. Narayanamurthy has been named India's highest business tycoon of 1999. He is also the recipient of the JRD Joint Leadership Award for 1996-97 and a place in Asia's Top 50 Most Powerful. </p> <br>
        <h2 id="t6">Conclusion:</h2><br>
        <p>&emsp;&emsp;In a recent poll conducted among students by the Indian Institute of Higher Education, "Who do you aspire to be in the future?" The fact that 90 per cent of the students have identified Mr. Narayana Murthy to the question asked is no doubt a testament to Narayana Murthy's reputation. </p> <br>
    </div>
</div>

{% endblock content %}
