{% extends 'base.html' %}
{% block title %} Jawaharlal Nehru {% endblock %}

{% block content %}

<div class="essay-content">
    <div class="essay-title"> <center><h1  title="Essay about Jawaharlal Nehru">Jawaharlal Nehru</h1></center> </div><br>
    <img class="main_img" title="Jawaharlal Nehru" src="{{url_for('static', filename = 'image/nehru.jpg')}}" alt="Jawaharlalnehru" width="400" height="300">
    <div class="index">
        <fieldset>
            <legend>INDEX ::</legend>
            <div class="index-content">
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t1">Introduction</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t2">Birth and Education</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t3">Marriage</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t4">Fighter Nehru</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t5">Bharath Sculpture</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t6">Peace Ambassador</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t7">Characteristics</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t8">Conclusion</a><br>
            </div>
        </fieldset>
    </div> <br>
    <div class="essay-body">
        <h2 id="t1">Introduction:</h2><br>
        <p>&emsp;&emsp;Jawaharlal Nehru, the leader who is affectionately known by various nicknames such as 'Manidharul Manikkam, Navbharata Sculpture, Asian Torch, Pandit, Guardian of Peace, Nehru Mama' is the leader I like. Bharat was elevated by him. Peaace reigned in the world. In this article we will see the wonderful pride of him. </p> <br>
        <h2 id="t2">Birth and Education:</h2><br>
        <p>&emsp;&emsp;Jawaharlal Nehru was born in Allahabad, on the banks of the Ganges, on Monday, November 14,1889 as the son of Motilal Nehru and Soruba Rani. </p> <br>
        <p>&emsp;&emsp;Nehru learned elementary education at home and excelled in learning English novels and Science subjects. He then went on to study at the Harrow Education Center in the UK where he was not allowed to tal about Indian politics. So Nehru did his B.A.Honors degree from Trinity College  under the supervision of the University of Cambridge. He then studied law at the Innder Temple University and returned to India in 1912 with the title of barrister. While studying ain London he listened to the speeches of Vipin Chandrapal Gokhale and Lala Lajpat Rai and became thirsty for freedom.  </p> <br>
        <h2 id="t3">Marriage:</h2><br>
        <p>&emsp;&emsp;Nehru and Kamala were married in December 1916. As a result of their happy marriage, their only daughter, Indira Priyadarshini, was born. The girl was Indira Gandhi, who later became the Prime Minister of India. </p> <br>
        <h2 id="t4">Fighter nehru:</h2><br>
        <p>&emsp;&emsp;Nehru initially worked together for the liberation of India in the democratic movement started by Annie Besant and Tilak. he first met Mahatma Gandhi in person at the Lakshmanapuram Congrss Conference in 1916, when he was married. Following that he decided to actively engage in the War of Independence. In 1921 the British government imprisoned him for his involvement in the Non-Cooperation War. From the until 1945 he was imprisoned several times for his involvement in the non-cooperation movement, the anti-law movement, the salt satyagraha, the black flag demonstration and the burning of foreign clothes. He spent about ten years of his life in prison. He was lodged in Lakshamanapuri, Naini, Alipore, Dehradun and Almera jails. He drew a number of famous letters while in prison. </p><br>
        <h2 id="t5">Bharath Sculpture:</h2><br>
        <p>&emsp;&emsp;Before independence in 1946, Nehru, the Chief Minister of the Interim Cabiner, became the first Prime MInister of independent India. Realizing the need to plan and act to create a prosperous India, Nehru prepared a five-year plan and industrialized the country. Nehru, who saw that population and famine were rampant in India, relaized that we could not profress without faming according to the system. So he implemented the new agrarian policy of the Gree Revolution and made India self-sufficient in foor production. He built the great dams of Bakranangal and Nagarjuna. With the help of Russia, a friend of India, he established a number of smelters, oil refineries and factories, reshaped weakened India and became known as the 'Navabharata Sculptor'. </p> <br>
        <h2 id="t6">Peace Ambassador:</h2><br>
        <p>&emsp;&emsp;He worked hard to bring peace to the world through his famous Panchasila Policy and non-alignment plicy. He gave voice to the liberation of all slave-headed countries in the world like India. Nehru was the source of the agreement to ban buclear weapons testing in the cosmos and inthe deep sea. The world hailed his the Asian Torch Bearer who fought for Asian peace. </p> <br>
        <h2 id="t7">Characteristics:</h2><br>
        <p>&emsp;&emsp;Nehru is very fond of childre. Who was told to clebrate his birthday as 'Children's Day'. Origin of affection; Location for Strict' Idealist who acooplishes what is taken; Progressive and has a scientific outlook. </p> <br>
        <h2 id="t8">Conclusion:</h2><br>
        <p>&emsp;&emsp;Although Nehru, who served as Prime Minister until the last day of his life, passed away on May 27, 1964, his work from the Himalayas to Kanyakumari will sing the praises. </p> <br>
    </div>
</div>

{% endblock content %}
