{% extends 'base.html' %}
{% block title %} Periyar {% endblock %}

{% block content %}

<div class="essay-content">
    <div class="essay-title"> <center><h1  title="Essay about E.V.R. Periyar">Rationl Warrior Periyar</h1></center> </div><br>
    <img class="main_img" title="E.V.Ramasamy Periyar" src="{{url_for('static', filename = 'image/periyar.jpg')}}" alt="E.V.R" width="300" height="300">
    <div class="index">
        <fieldset>
            <legend>INDEX ::</legend>
            <div class="index-content">
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t1">Introduction</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t2">Adolescence</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t3">The turning point of life</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t4">Political entry</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t5">Vaikkom Warrior</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t6">Social work</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t7">Conclusion</a><br>
            </div>
        </fieldset>
    </div> <br>
    <div class="essay-body">
        <h2 id="t1">Introduction:</h2><br>
        <p>&emsp;&emsp;In this article we will see about Periyar, the father of our Tamil Nadu, who has earned the reputation of being a rational warrior, a lion of Erode, a warrior of Vaikam, a motto of self-respect, a leader of his own. </p> <br>
        <h2 id="t2">Adolescence:</h2><br>
        <p>&emsp;&emsp;Father Periyar was born in Erode on Monday, September 17, 1879, the son of Venkatappar and Chinnathai. He later changed his given name from Ramasamy to EVRA Venkata Ramasamy for Erode. He completed his high school education at a local high school. The book not only augmented his vast knowledge but also explored the root causes of superstitious actions and slavery in society. </p> <br>
        <h2 id="t3">The turning point of life:</h2><br>
        <p>&emsp;&emsp;Periyar married Nagamma at the age of 19 and got bored in life. At the age of 25, he decidded to become a monk and went to Kasi. Father Periyar hated religion because of the social evils and superstitions that took place in the name of religion. So Father Periyar decided that his ambition was to fight against superstitions and returned to Tamil Nadu. </p> <br>
        <h2 id="t4">Political entry:</h2><br>
        <p>&emsp;&emsp;Periyar, who contested for the post of Erode city council chairman, won and did good deeds. At that time the plague spread throughout the city of Erode. Without fearing that the plague would come upon us, he went in person to all parts of the country to offer comfort and medical treatment. </p><br>
        <p>&emsp;&emsp;He worked actively with the Congress party which had the overwhelming support of the Indian people. The voice he gave for the oppressed people there was suppressed by top leaders. So Periyar left the party and convened a conference on self-respect in Chengalpattu. He strongly condemned caste, religion and media and held street rallies all over Tamil Nadu. Accepting insults and stoning as his gift. Yet Anja heartily expressed his opinion unhindered. He joined the Justice Party and formed the Dravidar League under his leadership, thinking that we would not get justice here. </p><br>
        <h2 id="t5">Vaikkom Warrior:</h2><br>
        <p>&emsp;&emsp;While working for the oppressed people in Tamil Nadu, he heard the news that it was forbidden for the downtrodden to go to the temple and walk the streets of the upper castes, in the town of Vaikom in the state of Kerala. In 1924, he went to Vaikkam to end this atrocity, waged a crusade and gave equal rights to the oppressed. Through the war, the fame of "Vaikkam Warrior" spread all over India. </p> <br>
        <h2 id="t6">Social work:</h2><br>
        <p>&emsp;&emsp;He campaigned with great zeal against untouchability, female slavery, toddy, and superstition, and raised awareness among the people. He took government statistics with evidence and urged the people to get the allotted population rise. He supported mixed marriages and self-respecting marriages, and led himself. He sounded the death knell for centuries of closing customs. He introduced the Reformed script by removing the contradictions found in the Tamil script. That is what is currently the norm in Tamil. </p> <br>
        <h2 id="t7">Conclusion:</h2><br>
        <p>&emsp;&emsp;He made people who followed obscurity think and act. Father Periyar passed away on 24.12.1973. Though he dies, the thoughts he sowed are doomed to perish. </p> <br>    </div>
</div>

{% endblock content %}
