{% extends 'base.html' %}
{% block title %} Freedom of Press {% endblock %}

{% block content %}

<div class="essay-content">
    <div class="essay-title"> <center><h1 title="Essay about Press">Freedom of Press</h1></center> </div> <br>
    <img class="main_img" title="Freedom of press" src="{{url_for('static', filename = 'image/press.jpg')}}" alt="Freedom of press" width="350" height="300"> <br>
    <div class="index">
        <fieldset>
            <legend>INDEX ::</legend>
            <div class="index-content">
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t1">Introduction</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t2">Role of Press</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t3">Duty of Press</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t4">Press in India</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t5">Freedom</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t6">Responsibilities</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t7">Conclusion</a><br>
            </div>
        </fieldset>
    </div> <br>
    <div class="essay-body">
        <h2 id="t1">Introduction:</h2><br>
        <p>&emsp;&emsp;The most important ingredient of democracy is the existence of free and fearless press. In a democracy the press Must enjoy complete freedom and should not be subjected to any restriction. The voice of the press is the voice of the people. Censoring the press means the suppression of people's voice. So the very survival of democracy inevitably depends on the freedom of the press. But at the same time the process must not failed to follow its code of conduct and misuse the freedom. </p> <br>
        <h2 id="t2">Role of press:</h2><br>
        <p>&emsp;&emsp;The press plays a very positive and constructive role in a democracy. It keeps the people informed of the national and international news and happenings. It brings to the notice of people the programs, policies and activities of the government. Similarly it keeps the Government in the know of the People's problems, difficulties, hopes and aspirations. The press place a dual role. It serves as a bridge between the government on one hand and the people on the other. </p> <br>
        <p>&emsp;&emsp;Of course, the role of the press cannot be minimised even in a dictatorship, because a Dictator also needs the press for reflecting his ideology and policies. A dictator uses the press to prop up his image by highlighting his achievements. But in this case the process gives very little feedback to the dictator. </p> <br>
        <h2 id="t3">Duty of press:</h2><br>
        <p>&emsp;&emsp;The primary duty of the press is objective reporting of the news and views in your calm and dispassionate manner. Sometimes certain newspapers indulge in 'Yellow Journalism'. They give out biased and colored news. Their aim is simply to indulge in sensationalism. Sometimes they also spread rumours. They go to the extent of indulging in character assassination, mudslinging and blackmailing. These activities are against journalistic ethics. </p> <br>
        <h2 id="t4">Press in India:</h2><br>
        <p>&emsp;&emsp;In India, most of the newspapers are controlled by Business magnates. Such newspapers therefore promote the interest of capitalist by giving tainted news. They pay no heed even to the genuine problems of the workers, farmers, artisans and other weaker sections of the society. </p><br>
        <h2 id="t5">Freedom:</h2><br>
        <p>&emsp;&emsp;The press is the defender and the protector of the rights and liberties of the people. But it can perform this role only if it enjoys the freedom in publishing news, views and reporting. It can function effectively only in an open society, where decisions are made in a democratic manner. </p> <br>
        <h2 id="t6">Responsibilities:</h2><br>
        <p>&emsp;&emsp;The press should never shirk from its responsibility. It should always act like an impartial judge. It should criticize the Government for its acts of omission and commission and pat it's back for any worthwhile achievements. The press should not be scared of influential people. The press should consider it their duty to protect the right of the workers and other downtrodden sections of the society.</p> <br>
        <h2 id="t7">Conclusion:</h2><br>
        <p>&emsp;&emsp;While the press should enjoy the freedom to perform its role effectively, it should not treat such freedom as a licence to defame anybody. It is should not publish any views or supports any movement which violates our constitution or is against the territorial integrity and Unity of the country. </p> <br>
    </div>
</div>

{% endblock content %}
