{% extends 'base.html' %}
{% block title %} Rain Water Harvesting {% endblock %}

{% block content %}

<div class="essay-content">
    <div class="essay-title"> <center><h1 title="Essay about Rain Water Harvesting">Rain Water Harvesting</h1></center> </div><br>
    <img class="main_img" title="Rain water harvesting" src="{{url_for('static', filename = 'image/rwharvesting.jpg')}}" alt="Rainwater Harvesting" width="400" height="250"> <br>
    <div class="index">
        <fieldset>
            <legend>INDEX ::</legend>
            <div class="index-content">
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t1">Introduction</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t2">Rainwater harvesting</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t3">The need for collection</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t4">Benefit</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t5">Rainwater harvesting methods</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t6">Conclusion</a><br>

            </div>
        </fieldset>
    </div> <br>
    <div class="essay-body">
        <h2 id="t1">Introduction:</h2><br>
        <p>&emsp;&emsp;'Rain water is our living water' is the phrase we see today. Today, if we do not save rain water, even a glass of water can lead to begging. Since today's rainwater harvesting is the foundation of tomorrow's drinking water prosperity, I think it would be good for us to know about it. </p> <br>
        <h2 id="t2">:Rainwater harvesting</h2><br>
        <p>&emsp;&emsp;Rainwater harvesting is the direct collection and storage of rainwater during a rainy season and the augmentation of groundwater. </p> <br>
        <h2 id="t3">The need for collection:</h2><br>
        <p>&emsp;&emsp;Rainwater is the source of all water resources. Rainwater plays an essential role in meeting water demand. Rainwater harvesting helps to avoid water scarcity. Rainwater should be stored and pumped into aquifers to increase groundwater resources. March 22 is World Water Day, emphasizing the need for water </p> <br>
        <h2 id="t4">Benefit:</h2><br>
        <p>&emsp;&emsp;Rainwater harvesting will increase water resources in groundwater tanks. Can prevent the groundwater level from declining. In coastal areas, can prevent seawater from groundwater intrusion. Floods caused by rain in urban areas can be avoided. </p><br>
        <h2 id="t5">Rainwater harvesting methods:</h2><br>
        <p>&emsp;&emsp;Rainwater harvesting can be done by setting up water dams and septic tanks outside populated areas, storing it through open wells, storing it through tube wells, etc. </p> <br>
        <p>&emsp;&emsp;Water can be collected in the form of septic tanks, perforated septic tanks, seepage beds, septic tanks with holes, and irrigation wells to store terrace and open water. </p> <br>
        <p>&emsp;&emsp;Rainwater that falls on the roof and in the cottage can also be collected. Rainwater that falls on the roof of the house should be brought through a catheter and poured into a sand filter. If it is a cottage, a polythene sheet can be placed on the roof to collect the rainwater that falls on it. Purified water can be stored in a tank and used. If there is a water tank, it can be stored and used. The costs are not high. It costs around Rs 100 to Rs 2000 and can be implemented for all parties. </p> <br>
        <h2 id="t6">Conclusion:</h2><br>
        <p>&emsp;&emsp;Any project will fail if it does not conduct a proper awareness campaign and explain the need for the project to the people. Although the rainwater harvesting project was a massive project, it did not meet with the expected success as the Tamil Nadu government forced the people to do so urgently. But an international study warns of a severe water shortage in India by 2025. So since the world is not without water we will all save non-polluted rainwater. </p> <br>
    </div>
</div>

{% endblock content %}
