{% extends 'base.html' %}
{% block title %} The role of Tamil Nadu in the war of liberation {% endblock %}

{% block content %}

<div class="essay-content">
    <div class="essay-title"> <center><h1>The role of Tamil Nadu in the war of liberation</h1></center> </div> <br>
    <img class="main_img" title="The role of Tamil Nadu in the war of liberation" src="{{url_for('static', filename = 'image/roleoftn.jpg')}}" alt="The role of Tamil Nadu in the war of liberation" width="400" height="250"> <br>
    <div class="index">
        <fieldset>
            <legend>INDEX ::</legend>
            <div class="index-content">
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t1">Introduction</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t2">The first liberation slogan</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t3">Singer of the Liberation War Parani</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t4">Poets and magazines</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t5">Conclusion</a><br>
            </div>
        </fieldset>
    </div> <br>
    <div class="essay-body">
        <h2 id="t1">Introduction:</h2><br>
        <p>&emsp;&emsp;Tamil poet Bharathidasan says, "Tamils have a race; they have a character of their own." Tamils are unique in anything. They have will stand out at any event in which they participate. The role of the people of Tamil Nadu in the Indian War of Independence is unique. </p> <br>
        <h2 id="t2">The first liberation slogan:</h2><br>
        <p>&emsp;&emsp;For the Tamils ​​who hoisted the flag in the Himalayas, heroism is a mixture of blood. It is not unknown that Poolithevan was the first king to refuse to pay tribute to the British government. Kattabomman, who refused to pay the bribe and held the rebel flag and was a lion's dream to the British, was rewarded with the death penalty for Mother nation. Maruthupandian and Velunacharya also fearlessly opposed English oppression. </p> <br>
        <h2 id="t3">Singer of the Liberation War Parani:</h2><br>
        <p>&emsp;&emsp;V.O.Chidambaram Pillai was sentenced to double life imprisonment for obstructing the British government by shipping against the British government. Also known as the Tamil Sailor. Tamil Nadu is the only state that has given leaders like Karmaveerar Kamaraj and Pasubon Muthuramalingam Thevar, who went to jail for working for the liberation of the motherland. The sacrifices of others like the elder Rajasi, V.V.S. Iyer, Sardar Vedaratnam, M.P.Sivagnanam, Subramania Siva, Theerar Sathyamoorthy are immeasurable. </p> <br>
        <p>&emsp;&emsp;Veerathamizhan Janakithas, Veeran Vanginathan, flag bearer Tirupur Kumaran, who refused to hoist the English flag at the pre - liberation Olympics and led the athletes holding the national flag. The heroism of Sethuraman, who met Hitler in person and plotted to liberate India, is portrayed on the forehead of Bharat. </p><br>
        <h2 id="t4">Poets and magazines:</h2><br>
        <p>&emsp;&emsp;Poets are good at shaping the minds of struggling people and providing insight. Bharathi encouraged the freedom fighters by singing, "Whether we dance or sing, we have attained blissful freedom." Namakkal poet Ramalingam Pillai's song "War is coming without blood without a knife" was never on the stage where the struggle did not take place. Similarly, magazines such as Swadesamithiran, Deshabhaktan, Navasakthi, Hindu and Daily published the news of liberation in defiance of the expectations of the British bureaucracy and fueled the fire of independence. </p><br>
        <h2 id="t5">Conclusion:</h2><br>
        <p>&emsp;&emsp;We are proud of Lakshmi, a Tamil woman, who led Subhash Chandra Bose's women wing of the Indian National Army. Half of them are Tamils. All Indians fought for independence. However, Tamils ​​have fought for freedom in all the ways and means they know. At present, the struggles of Tamil Nadu martyrs are being obscured by nationally published festival magazine, advertisements and textbooks. The Tamil Nadu government and politicians must be vigilant and give a voice. Otherwise not only our history but also our sacrifice will be in vain. </p> <br>
        <center><q></q></center>
    </div>
</div>

{% endblock content %}
