{% extends 'base.html' %}
{% block title %} Space Achievements {% endblock %}

{% block content %}

<div class="essay-content">
    <div class="essay-title"> <center><h1 title="Essay about Space Achievements">Space Achievements</h1></center> </div><br>
    <img class="main_img" title="Space Achievements" src="{{url_for('static', filename = 'image/isro.jpg')}}" alt="space" width="400" height="250"> <br>
    <div class="index">
        <fieldset>
            <legend>INDEX ::</legend>
            <div class="index-content">
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t1">Introduction</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t2">The situation at that time</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t3">Today's situation</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t4">India's space achievements</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t5">Research Centers</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t6">Painful events</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t7">Conclusion</a><br>
            </div>
        </fieldset>
    </div> <br>
    <div class="essay-body">
        <h2 id="t1">Introduction:</h2><br>
        <p>&emsp;&emsp;Space achievements are the result of a man who is bored with the earth and wants to rule the sky. The time of showing the moon to the baby to make them eat has changed and we have come to the time of eating on the moon. Twenty-first century man is not ready to listen to the myths about the sun and moon. Man has progressed to the level of "Knowledge is seeing the truth of whatever one hears." Proof of this is the achievements of India and world space. In this article we will look at the space achievements of man who conquered nature and made history. </p> <br>
        <h2 id="t2">The situation at that time:</h2><br>
        <p>&emsp;&emsp;Our Indian scientist Aryabhata was the one who revealed to the world many rare astronomical facts by thinking only with an open mind without any tool in hand. Religions sought to stone Galileo to death for examining the ordinary telescope he had created and revealing the facts about the solar system. Man has only used the sun, moon, and other stars to tell astrology. That was the situation at the time. </p> <br>
        <h2 id="t3">Today's situation:</h2><br>
        <p>&emsp;&emsp;The first Sputnik spacecraft was launched in 1957. The United States was the first country to send a man to the moon in 1969. Bharati's dream of singing "Let's see the lunar eclipse" came true. In 1975, India launched its first satellite, Aryabhata. </p> <br>
        <p>&emsp;&emspMany countries around the world have sent hundreds of satellites into orbit around the earth. NASA, the US space agency, is planning to send a man to Mars and set up human settlements in space. </p> <br>
        <h2 id="t4">India's space achievements:</h2><br>
        <p>&emsp;&emsp;Rakesh Sharma was India's first astronaut. He returned to space aboard the Russian spacecraft. Bharat, which launched satellites with the help of the highlands, is now fully self-sufficient. India launched satellites like Aryabhata, Bhaskara, INSAT1A, INSAT2A, INSAT2E, SRAS etc. with the help of countries like Russia and France. While other countries have refused to provide supercomputer and cryogenic machine technologies to aid in space achievement, India has achieved the feat by launching a number of PSLV satellites on its own initiative and without the assistance of anyone. </p><br>
        <p>&emsp;&emsp;These satellites are widely used in telecommunications, climate research, oceanography, fuel exploration, national security, scientific research, and mineral exploration. </p> <br>
        <h2 id="t5">Research Centers:</h2><br>
        <p>&emsp;&emsp;The Indian Space Research Organization (ISRO) in Bangalore and the Vikram Sarabhai Space Research Station in Thiruvananthapuram, the Space Research station Mahendragiri Hill in Tirunelveli district are developing new spacecraft. Indian satellites are launched from space station at Sriharikota, Andhra Pradesh. The Space Operations Center is located in Ahmedabad. Apart from the powerful countries, among the other developing countries India continues to be one of the leading developing countries in space exploration. </p> <br>
        <h2 id="t6">Painful events:</h2><br>
        <p>&emsp;&emsp;Although the scientists who designed the spacecraft have been effective, they sometimes have to accept losses. In 1991, a US spacecraft crashed in the province of Colombia, killing all 13 soldiers on board. Most recently, a US space shuttle in 2003 lost its function in the last hours of its return journey and killed all its passengers. Kalpana Chawla, a heroine from India, is one of them. It is a sad news that makes our eyes water. </p> <br>
        <h2 id="t7">Conclusion:</h2><br>
        <p>&emsp;&emsp;The man who uses space exploration for good is likely to use it for evil. It is a matter of concern that many countries are producing and stockpiling modern intercontinental ballistic missiles. The involvement of the superpowers in the Star Wars program is also not desirable. The future society will greet us if there are actions that benefit human society through space achievements in general. </p> <br>
    </div>
</div>

{% endblock content %}
