{% extends 'base.html' %}
{% block title %} Barathidasan's Tamil Heart {% endblock %}

{% block content %}

<div class="essay-content">
    <div class="essay-title"> <center><h1 title="Essay about Barathidasan">Barathidasan's Tamil Heart</h1></center> </div> <br>
    <img class="main_img" title="Barathidasan" src="{{url_for('static', filename = 'image/barathidasan.png')}}" alt="Barathidasan" width="200" height="250"> <br>
    <div class="index">
        <fieldset>
            <legend>INDEX ::</legend>
            <div class="index-content">
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t1">Introduction</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t2">Tamil life</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t3">Lullaby for Mother Tamil</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t4">Tamil application</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t5">Tamil Security</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t6">The antiquity of Tamil is special</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t7">Conclusion</a><br>
            </div>
        </fieldset>
    </div> <br>
    <div class="essay-body">
        <h2 id="t1">Introduction:</h2><br>
        <p>&emsp;&emsp;Pavender Bharathidasan was the one who realized the sweetness, youth and taste of Tamil. Tamil is alive and well. There is no one who loves Tamil like him. There is no one who has revolutionized the world of Tamil poetry like him. We will see the unique Tamil heart of that Tamil citizen who lived in Tamil. </p> <br>
        <h2 id="t2">Tamil life:</h2><br>
        <p>&emsp;&emsp;Pavender saw Tamil as the highest in the world. <br>
            &emsp;&emsp;&emsp;"The milk given by cow <br>
            &emsp;&emsp;&emsp;Cold water given by coconut <br>
            &emsp;&emsp;&emsp;Though they are sweet <br>
            &emsp;&emsp;&emsp;But Tamil is my life" <br>
            &emsp;&emsp;- You can know his love for Tamil from what Bharathidasan mentions. Not only that <br>
            &emsp;&emsp;&emsp;"Sweet Tamil language is ours - for us <br>
            &emsp;&emsp;&emsp;It is like a plesure giving elixir." <br>
            &emsp;&emsp;- By saying that he describes Tamil as a life-enhancing elixir. <br>
            &emsp;&emsp;&emsp;"Tamil is the milk of our youth - this <br>
            &emsp;&emsp;&emsp;Pleasure tamil is equal to our life."<br>
            &emsp;&emsp;- Saying that he admires to keep his life net. </p> <br>
        <h2 id="t3">Lullaby for Mother Tamil:</h2><br>
        <p>&emsp;&emsp;It is the nature of the world for a mother to praise her child. But Bharathidasan himself praises the Tamil mother. He describes tamil as,
            &emsp;&emsp;&emsp;Elixir, Awesome, Beautiful,<br>
            &emsp;&emsp;&emsp;Pleasure, Life, Attractice,<br> 
            &emsp;&emsp;&emsp;Fruit, Pot, Honesty  <br>
            &emsp;&emsp;&emsp;Unique, Sacrificer, Admirable <br>
            &emsp;&emsp;&emsp;Fire, Honey, Spontaneous, <br>
            &emsp;&emsp;&emsp;Southern, Fullest, Benefit,  <br>
            &emsp;&emsp;&emsp;Old, Mass, Overflowing,  <br>
            &emsp;&emsp;&emsp;Mother, Earth - By praising that many, Pavender shows that Tamil is indelibly filled in his heart.</p> <br>
        <h2 id="t4">Tamil application:</h2><br>
        <p>&emsp;&emsp;Bharathidasan murmured that the Tamil component that rules itself should rule the good world
            &emsp;&emsp;&emsp;"The pure temple should have everything in Tamil <br>
            &emsp;&emsp;&emsp; Every office work should be in Tamil <br>
            &emsp;&emsp;&emsp; Commerce board point gate should be printed in Tamil<br>
            &emsp;&emsp;&emsp; Oppurtunity and Tamil everywhere"<br>
            &emsp;&emsp;-Bavender speaks Tamil throughout Tamil Nadu with this song. "My mouth greets pure Tamil in case of sleep deprivation" - he says that he won't forget Tamil even if he forgets his own identity. </p> <br>
        <h2 id="t5">Tamil Security:</h2><br>
        <p>&emsp;&emsp;&emsp;"There is no abolitionist in the world <br>
           &emsp;&emsp;&emsp;The anti-Tamil has never lived" <br>
           &emsp;&emsp; -exclaims Bharathidasan. <br>
           &emsp;&emsp;&emsp;"It is not in vain that our breath is to pluck the silverware of Tamil life" <br>
           &emsp;&emsp;- Thus he fully identifies the Tamil mania that arose in his heart </p><br>
        <h2 id="t6">The antiquity of Tamil is special:</h2><br>
        <p>&emsp;&emsp;&emsp;"The first man to appear was a Tamil <br>
           &emsp;&emsp;&emsp; The first language is Tamil - hence <br>
           &emsp;&emsp;&emsp; The root of new life is Tamil culture" <br>
           &emsp;&emsp;"You have seen our pleasant Tamil language since the day it appeared. Palanthamil is the day on which the intellectual poet appeared on that day." - from theses lines Bharathidasan telling the atiquity of Tamil.  </p> <br>
        <h2 id="t7">Conclusion:</h2><br>
        <p>&emsp;&emsp;We can see his Tamil heart not only in his works  Kudumba Vilakku, Irunda Veedu, Revolutionary, Sanjeeva Parvathathin Charal, Pandian Parisu, Pichiranthaiyar, Azhagin Siripu, etc. '' We can know. We will love and think of Tamil like him; Let's live like Tamil. </p> <br>
    </div>
</div>

{% endblock content %}
