{% extends 'base.html' %}
{% block title %} Technology {% endblock %}

{% block content %}

<div class="essay-content">
    <div class="essay-title"> <center><h1  title="Essay about Technology">Merits and Demerits of Technology</h1></center> </div> <br>
    <img class="main_img" title="Technology" src="{{url_for('static', filename = 'image/technology.jpg')}}" alt="Technology" width="400" height="250"> <br>
    <div class="index">
        <fieldset>
            <legend>INDEX ::</legend>
            <div class="index-content">
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t1">Introduction</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t2">Technology</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t3">Merits</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t4">Demerits</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t5">Conclusion</a><br>
            </div>
        </fieldset>
    </div> <br>
    <div class="essay-body">
        <h2 id="t1">introduction:</h2><br>
        <p>&emsp;&emsp;Science and Technology has succeeded a lot and new inventions and discoveries have been made. Globalisation has been done in the world through technology. Enhancement of Technology has a great impact on our lives nowadays.</p> <br>
        <h2 id="t2">technology:</h2><br>
        <p>&emsp;&emsp;There are a lot of benefits of the inventions created by men and gain in technology. The TV which we use in our homes is a formation of just two words grammatically i.e: ‘Tele’ means distance and ‘vision’ means to see but if we think about it scientifically it has many electronic components in it and only known to an engineer or its producer. What actually means to say is nowadays people are just buying and making use of this invention of Technology but never think about what is in it? How is it giving us too many benefits? and what benefits it is providing us?</p> <br>
        <h2 id="t3">Merits:</h2><br>
        <p>&emsp;&emsp;One of the important and biggest benefit of these machines is that they are less time consuming. They provide as daily news and information and that what is happening in the world. In short these serves as a door to the outside world. The other machines likes cars, aeroplanes, trains and ships provide as a good and comfortable means of transportation. These help in transporting people, goods, heavy machineries from place to place and over a long distance. </p> <br>
        <p>&emsp;&emsp;Some other machines like refrigerator and air-conditioner is widely used in every corner of the world for cooling purpose and for preserving the perishable items. The telephone, cell phone and internet serves as great means of communication which are fast and easily operatable. These are available in all cost because of day-by-day increase in technology. Thus these machines have a great impact on our lives as they provide a lot of benefits. </p><br>
        <h2 id="t4">Demerits:</h2><br>
        <p>&emsp;&emsp;On the other hand these inventions have a great damage and bad effects which are not known by a common man. These effects are greatly effecting and damaging us as a refrigerator and air conditioner which we use at our homes produces CFC gas damages the Ozone layer which serves as a protecting layer from ultraviolet rays. The pollution which is emitted by cars and ships in the form of smoke effects our health and also damages the same ozone layer. </p><br>
        <p>&emsp;&emsp;The misuse of computer waste their time on the computer playing games or chatting on the Internet and watching films and dramas on television. This is not only waste their time but also affects their eyesight and weakens it. Instead of learning their school lessons nowadays students talk about the dramas and films as they have learned instead of their school lesson. With telephone which is in need of a common man, now a days people use them to talk about the bush. </p><br>
        <p>&emsp;&emsp;The biggest Curse of technology is to create class difference in society as the machines which are the invention of technology are not much cheaper and cannot be afforded by everyone. I agree that they are less time consuming but even then they waste a lot of time. </p><br>
        <h2 id="t5">Conclusion:</h2><br>
        <p>&emsp;&emsp;In conclusion, I would say that people should be happy and comfortable with just fulfilling their needs. We should make a list of merits and demerits of technology, keeping in view all the aspects of it and then should make a decision that either we should enjoy our life by using new invention of science or should lead a simple life as the Islam teaches us. </p> <br>
        <center><q></q></center>
    </div>
</div>

{% endblock content %}
