{% extends 'base.html' %}
{% block title %} Mother Teresa {% endblock %}

{% block content %}

<div class="essay-content">
    <div class="essay-title"> <center><h1 title="Essay about Mother Teresa">Mother Teresa</h1></center> </div><br>
    <img class="main_img" title="Mother Teresa" src="{{url_for('static', filename = 'image/teresa.jpg')}}" alt="Mother teresa" width="400" height="300">
    <div class="index">
        <fieldset>
            <legend>INDEX ::</legend>
            <div class="index-content">
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t1">Introduction</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t2">Life Note</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t3">Visit to India</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t4">Mother's gracious words</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t5">Mother's great duties</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t6">The heroine of the awards</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t7">Some words about Teresa</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t8">Conclusion</a><br>
            </div>
        </fieldset>
    </div> <br>
    <div class="essay-body">
        <h2 id="t1">Introduction:</h2><br>
        <p>&emsp;&emsp;Hailed by the world as the "Angel of Mercy"; Who illuminated the life of the absent; Who practiced the philosophy of seeing the Lord in the laughter of the poor; She said that she would like to cross that fence if love is forbidden; Who was the benefactor of the poor, the debtor of the poor, the refuge of the sick; She is our mother Teresa. </p> <br>
        <h2 id="t2">Life Note:</h2><br>
        <p>&emsp;&emsp;Mother Teresa was born on August 27, 1910, in Scoby, Yugoslavia, on the European continent. Her maiden name is Agnel Gonza Bejahiu. </p> <br>
        <p>&emsp;&emsp;Born the last child in the family, he became involved in community service at the age of twelve. The school teacher who witnessed this prophesied that one day you will take a noble place in life as a monk. </p> <br>
        <p>&emsp;&emsp;She began her monastic life at the age of eighteen in the church of Loretta in Ireland. </p> <br>
        <h2 id="t3">Visit to India:</h2><br>
        <p>&emsp;&emsp;Mother Teresa set foot in India in 1928 and became a teacher at St. Mary's School in Calcutta. She worked in Darjeeling for some time. Subsequently in 1947 she intensified her social service in the slums of Calcutta. In 1950 she started the charity Missionaries of Charity. Today the organization employs 3,000 people in 87 countries. </p> <br>
        <h2 id="t4">Mother's gracious words:</h2><br>
        <p>&emsp;&emsp;I see the Lord in every human being. The service of the Lord is the service of the people. Our Mother Teresa said that it was the Lord's duty to touch the body of a leper and put medicine on his wounds. Do not sympathize with the poor. All they need is your compassion, affection, love, kindness, and humanity, said Mother Teresa. </p><br>
        <h2 id="t5">Mother's great duties:</h2><br>
        <p>&emsp;&emsp;Mother Teresa is the one who rushes and wipes away the grief wherever the voice of danger is heard. She chanted in the United States and Canada that the service we do to the poor is service to the Lord. Mother Teresa raised huge funds and set up more than 400 orphanages in 150 countries. In India alone, she has set up 146 orphanages, feeding one and a half lakh families daily. She treats 2 lakh leprosy patients daily through 119 companies and 745 mobile companies. His service company employs 3000 brothers and 400 brothers. However, Mother Teresa says with restraint that all this is the work of the Lord, and I have not accomplished anything. </p> <br>
        <h2 id="t6">The heroine of the awards:</h2><br>
        <p>&emsp;&emsp;Mother Teresa, ridiculed as a "street patient", received the highest Nobel Prize in 1979. She received the Jawaharlal Nehru International Peace Prize in 1972, the Kennedy International Award in 1979 and the Pope Peace Prize. She was subsequently awarded the Bharat Ratna in 1980 and the Rajiv Gandhi Memorial Award in 1993. </p> <br>
        <h2 id="t7">Some words about Teresa:</h2><br>
        <p>&emsp;&emsp;Many were inspired by the mission of Mother Teresa. Mother Teresa is a symbol of compassion; It is rare for such people to be born in the world, said our former President of India Mr.K. R Narayanan said in his condolence speech. Former United Nations Secretary-General Kobe Annan said Theresa was an example of charity and religious tolerance. </p> <br>
        <h2 id="t8">Conclusion:</h2><br>
        <p>&emsp;&emsp;The life of a mother who sacrificed herself for the poor passed away on Monday, September 5th. Mother's death has caused grief in millions of people around the world. The Union Cabinet passed a resolution of condolence that India has lost an incomparable spiritual servant due to the death of its mother. The federal government has published a special gazette printed in black stripes on the death of Mother Teresa, who was not in government service. His body was cremated with military honors. It is rare for people like Mother Teresa, who exemplified religious tolerance and charity, to be born into this world. </p> <br>
        <center><q></q></center>
    </div>
</div>

{% endblock content %}
