{% extends 'base.html' %}
{% block title %} Unity is strength {% endblock %}

{% block content %}

<div class="essay-content">
    <div class="essay-title"> <center><h1 title="Essay about unity">United we stand; divided we fall</h1></center> </div><br>
    <img class="main_img" title="Unity is strength" src="{{url_for('static', filename = 'image/unity.jpg')}}" alt="Unity" width="400" height="250"> <br>
    <div class="index">
        <fieldset>
            <legend>INDEX ::</legend>
            <div class="index-content">
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t1">Introduction</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t2">The need for unity</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t3">The purpose of the merger</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t4">The lesson of history</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t5">Cohesive movements</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t6">Stories and proverbs that emphasize togetherness</a><br>
                &emsp; <span class="index-bullet">&#9673</span>&emsp;<a href="#t7">Conclusion</a><br>
            </div>
        </fieldset>
    </div> <br>
    <div class="essay-body">
        <h2 id="t1">Introduction:</h2><br>
        <p> &emsp;&emsp;&emsp;“I have a shirt <br>
            &emsp;&emsp;&emsp;He have a shirt <br>
            &emsp;&emsp;&emsp;We were both friends <br>
            &emsp;&emsp;&emsp;Now two shirts for two" <br> 
            &emsp;&emsp;This is a poem that explains the benefits of living together. Man is born to live together.
            His world can flourish if the molecules work together from the first to the last; Can live high. Uniting gives human society extra power; The courage to achieve anything is born; The community is growing. In this article, we will look at some of the ideas that emphasize life together. </p> <br>
        <h2 id="t2">The need for unity:</h2><br>
        <p>&emsp;&emsp;The proverb is "A separate tree does not become a grove". Many elephants even live in herds for safety. Tiny bees come together to form a beautiful hive. Consolidation sets the ladder for ascent; the diversity welcomes our fall. As Indians we have lost the right due to diversity; Together we got the right. The wood stick can break. But can the log be broken? That is why unity is so strong, that it cannot be broken.  </p> <br> 
        <h2 id="t3">The purpose of the merger:</h2><br>
        <p>&emsp;&emsp;The purpose of unification should be upwards. To seek good; May unite against injustice; May unite to fight corruption; One can unite against social evils such as casteism and racism; May unite to help people affected by poverty, disease, etc .; May unite against foreign aggression, fraud, and violence; Anyone can unite for humanitarian work as a whole. </p>
        <p>&emsp;&emsp;At the same time some selfish people are likely to provoke feelings of caste, religion, language, region etc. and use the sense of unity of the people for wrong deeds. </p> <br>
        <h2 id="t4">The lesson of history:</h2><br>
        <p>&emsp;&emsp;If you turn the pages of history you can see that people have come together and made many achievements. Today, Japan is one of the leading countries in the world due to the united uprising of the people who were devastated by the atomic bombing. The united opposition of the Vietnamese people plunged the world power, the United States, into war. The United Nations was formed because many nations of the world came together. Above all our Indian nation was enslaved in the division that arose among us; Then we all knew that we were liberated because we fought together. The united spirit of the people is the basis for the success of world-famous revolutions such as the Russian Revolution, the French Revolution and the Chinese Revolution. These are some of the historical evidences of life together. </p><br>
        <h2 id="t5">Cohesive movements:</h2><br>
        <p>&emsp;&emsp;When like-minded people unite it becomes a people's force, a people's movement. Following the success of the Arima Association, the Trade Union, the Co-operative Movement and the Literacy Movement, rural women are now forming self-help groups in every village to develop the rural economy. </p> <br>
        <h2 id="t6">Stories and proverbs that emphasize togetherness:</h2><br>
        <p>&emsp;&emsp;The lion and the four bulls, the father and the woodpecker, the hunter and the cunning pigeon emphasize the need for unity in these stories. </p>
        <p>&emsp;&emsp;Does a single hand make a noise? Single way is a dead way, Live in harmony with the city, etc. are proverbs that emphasize unity. </p> <br>
        <h2 id="t7">Conclusion:</h2><br>
        <p>&emsp;&emsp;Many businesses today are bringing together shareholders because of the great benefits that come from working together. Realizing the need for unity, we will live together at all levels, our hometown, our community, our country. </p> <br>
        <center><q class="essay-quotes">When spiders unite, they can tie down a lion</q></center>
    </div>
</div>

{% endblock content %}
